[2016-05-05 22:48] ErkinAkbudak opened #1 "Image Download"
Hi thank you very much for cloudflare-bypass. It's perfect library. I have a problem. How to download image with this library ?
This is my post
http://stackoverflow.com/questions/37060662/php-string-to-image

[2016-05-08 12:49] ErkinAkbudak commented on #1
I injected my code in library like this
[code]
Thank you

[2016-05-24 16:18] kavin-90 commented on #1
I want to save images too but file_get_contents throw 503 service for image :worried:

[2016-06-01 03:20] taorus opened #2 "math eval no longer works."
Since the last may,14 the calc no longer matches, they changed the code.

[2016-06-01 03:34] kavin-90 commented on #2
working correctly no problem yet. I tried yesterday it works.

[2016-06-01 04:09] duayres commented on #2
`'jschl_answer'  => ($answer-12)`

...and it worked o.O

[2016-06-01 19:27] duayres commented on #2
Ok, theres something related to the siteLink variable, when I change it the diff of 12 goes up or down, so i'm figuring out, maybe something i've touched and gone bad on your source, but i'm pretty sure i'm not touched the url's variables. There's any minimum version? I'm using php 5.3 and the bypass doest return the Set-Cookie header with the cf_clearance:

[code]

The sent headers are:
[code]

M

[2016-06-01 19:33] KyranRana commented on #1
Hi guys, I will work on implementing this into the class itself at some point so you can do this with ease. I have been studying lately and unfortunately haven't worked on this repo much. :)

[2016-06-02 10:30] KyranRana commented on #2
Can I ask the site which you are trying to connect to? I seem to be testing it and it works fine so I am kind of confused where this problem is arising. :)

[2016-06-02 17:24] taorus commented on #2
Problem solved, updated my entire php and extensions and it worked :).
You can delete this issue (if it's possible xD)

[2016-06-02 18:48] KyranRana commented on #2
No worries, glad you managed to find out what the problem was 👍

[2016-06-02 18:48] #2 closed

[2016-06-03 06:38] kavin-90 commented on #1
my code for saving image
[code]

[2016-06-12 09:54] kavin-90 commented on #2
I'm getting now

**```
Fatal error: syntax error, unexpected end of file

cloudflareClass.php(261) : eval()'d code:10]
[code]

[2016-06-13 17:43] KyranRana commented on #2
Let me look into this

[2016-06-13 18:03] KyranRana commented on #2
That should now be fixed, please be sure to open a new issue thread if you run into an issue :)

I don't normally go checking closed threads haha

[2016-06-14 10:07] kavin-90 commented on #2
okay. Thanks

[2016-06-24 13:17] JamesCullum opened #4 "Change of Workflow"
While i do appreciate the intended simplicity of the library, i feel that its lacking usability for integration into more difficult setups. It should be possible to hand over a perfectly configured CURL - Handle (including Proxys, Cookies, User-Agent etc) and it just uses this handle.

The change should mostly be in the Constructor that should have an optional parameter for the handle. If its not

[2016-06-25 17:57] KyranRana commented on #4
I will look into making this possible, sounds like a really good idea.

I've just been busy with work, but I will get on to it as soon as I can :)

[2016-06-29 01:12] waylaidwanderer opened #5 "Currently not working"
As of yesterday your code stopped working. Could you look into this and see if Cloudflare changed anything?

[2016-06-29 18:44] KyranRana commented on #5
I've tested the script again and it seems to be working. Which site are you trying this script on? :)

[2016-06-30 20:59] waylaidwanderer commented on #5
After doing some investigation, this may be an issue with the site itself. I found that it gets stuck on the "wait 5 seconds" page and never goes onto the next page.

[2016-06-30 20:59] #5 closed

[2016-09-30 11:09] Diab259 commented on #1
how to copy file zip/rar/mp3... to server with url and this script (cloudflare-bypass)

$url='https://www.site.com/music.mp3';

            $curlResource = curl_init($url);
            $header_size = curl_getinfo($curlResource, CURLINFO_HEADER_SIZE);
            $header = substr($pageResponse, 0, $header_size);
            $body = substr($pageResponse, $header_size);
            $fp = fopen('image

[2016-09-30 22:13] Diab259 opened #6 "Files download with curl"
How to downloads (copy to server) a files with this script using https://site.com/file.xxx ? (mp3,avi,zip,rar....)
Thks for help i'm noob

[2016-10-01 08:29] KyranRana commented on #6
Can you give me an example of a link which you are trying to target? :)

[2016-10-01 11:32] Diab259 commented on #6
Yes  please contact me to mail for private info at dabiz62[at]gmail.com thanks for  this

[2016-11-06 19:56] pwiking opened #7 "Error: undefined function json_last_error_msg()"
Hi, I get the following error when trying your script.
Fatal error: Call to undefined function json_last_error_msg() in /usr/www/libraries/httpProxyClass.php on line 360

I have error 416 from CloudFlare site (failed to open stream: HTTP request failed! HTTP/1.1 416 Requested Range Not Satisfiable)
Do you have any solution for this?

[2016-12-05 07:00] bootiehandler opened #8 "Parse error"
Parse error: syntax error, unexpected '<' in cloudflareClass.php(261) : eval()'d code on line 1

Notice: Undefined variable: answer in cloudflareClass.php on line 263
Could not fetch CloudFlare clearance cookie (most likely due to excessive requests)

[2017-01-09 20:35] KyranRana commented on #8
I'll look into this, could you tell me which site you got this error for?

[2017-01-09 20:36] KyranRana commented on #7
Interesting again can you tell me where you got this error, which site did you request with httpProxy?

[2017-01-31 13:23] xaiborweb opened #9 "Require by post method"
Hello thank you very much for this great script but I need to make a request for metopdo post that this protgegido with cloudflare and I do not know how to do it with this script? Could you help please

[2017-02-04 22:25] MaxWeiss45 opened #10 "Force ipv4"
Hey,
I was wondering, weather it is possible to force the request via ipv4.
Thank you for your help :)

[2017-03-15 20:28] GeorgeSkyway opened #11 "Notice: Undefined offset: 1"
Notice: Undefined offset: 1 in \cloudflare\libraries\httpProxyClass.php on line 939

[2017-03-27 19:45] Sarfroz opened #12 "location header issue"
hi sir, generally if there is url abc.com and we use its cookie then using curl it give me
Location: http://xxxxx.com

but with your code i am adding both site cookies and cloudfare cookie with method post , page is showing the data but i am not getting Location header in response.

[2017-04-09 17:53] nilparra commented on #6
Do you have find the problem ? I Have same issue ...

Thanks you for your help :)

[2017-08-31 18:53] justinsalvacion opened #13 "Having errors on "cookies.txt""
Whenever I try to run the code, i am having **unlink(cf-cookies/cookies.txt): No such file or directory in public/XXX/XXX on line 65**

[2017-10-04 18:31] iamvinny opened #14 "Getting "eval()'d code on line 10" Error"
I haven't modified anything on the script, I just ran git clone, and when I try to execute the "run.php", I get this error:

[code]

[2017-10-05 11:38] ravau commented on #14
It's new error, probably due to some cloudfale chages, I got the same

Anyone good enough to fix this?

[2017-10-05 15:32] Mikkou commented on #14
I fixed. http://prntscr.com/gtnows

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Без
вирусов. www.avast.ru
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

2017-10-05 14:38 GMT+03:00 ravau <notifications@github.com>:

[2017-10-07 11:08] ash121121 commented on #14
Great work Mikkou that fixed it for me :)

[2017-10-07 11:17] Mikkou commented on #14
you're welcome:)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Без
вирусов. www.avast.ru
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

2017-10-07 14:08 GMT+03:00 ash121121 <notifications@github.com>:

[2017-10-09 05:07] zentidofra commented on #14
Mikkou very very thanks!

[2017-10-13 11:41] iamvinny commented on #14
Thank you very much, Mikkou, that did the trick.

[2017-10-13 13:58] freeman3s commented on #13
I have the same problem

[2017-10-14 17:50] kavin-90 commented on #13
i've same problem.

thanks freeman for help

[2017-11-18 12:04] KyranRana commented on #14
I am back. I will fix this and create a new update. Thanks Mikkou for the temporary fix. 👍

[2017-11-19 10:30] Mikkou commented on #14
you are welcom(:

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Без
вирусов. www.avast.ru
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

2017-11-18 15:04 GMT+03:00 Kyran Rana <notifications@github.com>:

[2017-12-20 01:43] yumedia opened #16 "Wrong language"
UTF-8 not show correctly.

[2017-12-25 14:00] KyranRana commented on #16
Hi there. Sorry is this still a problem for you?

[2017-12-25 14:12] yumedia commented on #16
Yes, it still problem but I don't see any reply :(

[2017-12-25 21:00] KyranRana commented on #16
I will fix it, I am just busy as its the christmas period. I am sorry. Give me 3 days and it will be looked into and possibly fixed. Please re-open the issue with the appropriate info :)

[2017-12-26 00:59] yumedia commented on #16
I re-opened it mate !

[2017-12-27 19:43] KyranRana commented on #16
This has been fixed in the latest commit, let me know if this sorts out your problem.

Just applied a hot fix for now. I will be doing some major updates to the script to make it more flexible in the next week or so.  I will make it so any of the standard requesting components can be plugged in (file_get_contents / custom cURL handles).

[2017-12-27 20:17] xtubeid opened #18 "Error and Run Only Localhost"
Warning: unlink(cf-cookies/cookies.txt): No such file or directory in C:\xampp\htdocs\bypass\libraries\cloudflareClass.php on line 65

Localhost OK.. But Not Work from Server .

[2017-12-28 12:59] yumedia commented on #16
Thank you !

[2017-12-28 13:01] #16 closed

[2017-12-29 16:59] adamdupuis opened #19 "Could not fetch CloudFlare clearance cookie (most likely due to excessive requests)"
I'm getting this error on run.php when I use it for a URL that always goes through the CloudFlare "Checking your browser" process. Am I doing something wrong? I haven't changed anything in the script and `cf-cookies/cookies.txt` appears to be functioning correctly.

[2017-12-29 20:49] KyranRana commented on #19
Which link are you trying to fetch?

[2017-12-29 20:50] adamdupuis commented on #19
https://crypto-loot.com/signup

[2017-12-29 21:17] KyranRana commented on #19
I'll take a look. Be aware I am rewriting this class at the moment.

I'll keep you updated.

[2017-12-29 22:03] KyranRana commented on #19
Fixed in the latest commit. Let me know if it works 👍

[2017-12-29 22:25] adamdupuis commented on #19
Thanks for the quick update! I'm not noticing a difference on my end though :/

[2017-12-29 23:04] KyranRana commented on #19
Have you tried pulling changes from master? I have tested it with recent master build and it works :)

[2017-12-29 23:19] adamdupuis commented on #19
I tried quickly replacing cloudflareClass.php with the new changes. I will try replacing all three files later. I did notice there wasn't a cookie.txt file anymore and when I created it in cf-cookies/ it was deleted after running the script again.

[2017-12-30 12:22] KyranRana commented on #19
Let me know how that goes. 👍

[2017-12-30 12:23] KyranRana commented on #18
Which link are you trying to fetch? Also that error should now be fixed.

[2017-12-30 17:19] adamdupuis commented on #19
Looks like it's working! I'm not seeing the Cloudflare "Checking your browser" page anymore though - is that normal?

[2017-12-30 18:24] KyranRana commented on #19
Unfortunately no. Cloudflare uses Google Recaptcha service which is impossible to bypass.

Getting past the captcha service will require going one level further and resolving the actual IP of the site.

[2018-01-01 14:16] KyranRana commented on #10
Hey Max, can you be more specific in terms of what you mean? What are you trying to do?

[2018-01-01 14:18] KyranRana commented on #4
I am working on a class at the moment, would it be possible if you could list some of the possible things you would like the new class to do ? :)

[2018-01-01 15:45] JamesCullum commented on #4
That's exactly everything that I am interested in already. If it is possible to provide a CURL handle, proxys etc can be added without any coding required on the plugin side. Usage like a middleware is the optimal goal but the handle is fine by me already.

[2018-01-01 15:54] KyranRana commented on #4
Could you give me an example of a use case? How do you expect to use the new class?

I know its a very open end question but it could help give me some ideas. I am still experimenting but I've simplified the bypass logic to make it manageable from my side.

[2018-01-01 18:09] JamesCullum commented on #4
The best use case would be simply

[code]

[2018-01-02 11:06] #19 closed

[2018-01-06 21:20] KyranRana commented on #4
Take a look at workflow changes, the other branch, let me know what you think. The documentation is missing at the moment but there is plenty of annotation in the main class :)

[2018-01-07 19:56] JamesCullum commented on #4
Looks very good, but I would like to see it even easier.
You are currently modifying the original handle to make the settings necessary.

What do you think about a different approach:
On request, you make a copy of the original curl handle and make the settings necessary on this instance. You let this copy run the request. If there is a challenge, it is solved and the cookie is appended to the coo

[2018-01-07 20:05] KyranRana commented on #4
That was my attempt to make it easier to use the class multiple times with generic settings. curlExec has its own $exceptions param but its a bit long-winded to pass a config through every-time. I think making a copy of the handle is a good idea and skips that, so I could possibly remove the function. Cookie Storage should be automatic if user has cookiefile set, also same cURL handle is reusable

[2018-01-07 23:04] KyranRana commented on #4
New commit has been made, kind of steers towards the idea you had. :)

[2018-01-08 07:32] JamesCullum commented on #4
Looks perfect to me, thanks a lot for your amazing work!

[2018-01-23 10:32] tinloaf opened #21 "License"
Hi!

Would it be possible to add a license to the project, so that others can use your code? If you intentionally did not add a license, that's of course fine, too, but would mean that nobody can (legally) use your work. :(

Thanks a lot!

[2018-01-23 22:23] KyranRana commented on #21
CloudFlareBypass version 2 is coming in a few days and it will have a license 👍

Is "Unlicensed" a good choice to go for?

[2018-01-24 07:54] tinloaf commented on #21
Not if you want people to be legally able to use your code, I think. But I'm not an expert on this one. Have a look at https://choosealicense.com/ - there's a "I don't want to" option on the bottom right.

[2018-01-25 16:20] freeman3s opened #22 "401 http_code"
I am trying to get information from site but I've got "http_code": 401

[2018-01-25 17:02] KyranRana commented on #22
Which site are you trying to fetch?

[2018-01-25 17:08] freeman3s commented on #22
@KyranRana this https://csgoempire.com

[2018-01-26 08:40] KyranRana commented on #22
This will be fixed in Cloudflare Bypass v2. I will be updating the main repo sometime today with the fix.

[2018-01-26 10:34] freeman3s commented on #22
@KyranRana Thank you very much!

[2018-01-26 23:09] KyranRana commented on #22
Try the v2 code and let me know if it works with that link.

[2018-01-27 06:32] ZhaoSin commented on #22
I do not like v2 when have to install composer, it's not convenient like v1, just put php file -> then run.

[2018-01-27 06:37] joserenatog opened #24 "POST Request"
Hello! Firstly, thanks for the development of this amazing tool !, I would like to know if **it is possible to use the POST Protocol in the CURL request**, the page where the bypass was made normally appears, but it does not detect the post inserted in the page. I await your return, preferably as soon as possible!

**PS. I'm using version 2**

[2018-01-27 09:44] KyranRana commented on #22
@ZhaoSin I will add an autoload.php into the src/ folder so you just include that instead. 👍

Also, in future, please open a separate issue.

[2018-01-27 10:07] KyranRana commented on #24
No problem! Which site and what fields are you posting?

I've tried making the process transparent as possible so it should be possible to use your cURL handle. So posting with cURL should work.

[2018-01-27 12:59] KyranRana commented on #22
@ZhaoSin change made.

[2018-01-27 14:07] joserenatog commented on #24
Thank you for your response. Currently, I only have one postdata, the field ** account **, I would like to know how to make POST work correctly on the curl target

[2018-01-27 14:09] joserenatog commented on #24
**would you have an email to contact** ?

[2018-01-27 15:43] KyranRana commented on #24
Use cURL to make the request, but use CFCurl to exec the request instead of curl_exec 👍

[2018-01-27 15:48] joserenatog commented on #24
Do I insert my Curl code into CFCurl?

[2018-01-27 16:09] KyranRana commented on #24
There is an example file which shows how you can use CFCurl in v2/examples.

If you want to avoid installing composer, you can replace "vendor" with "src" in the require.

[2018-01-27 16:16] joserenatog commented on #24
I inserted the link where my post would occur, I enabled the post and inserted the postfields correctly, but the page results as if the post had not occurred...

[2018-01-27 16:17] KyranRana commented on #24
Email me your code @ kyranportfolio@gmail.com

[2018-01-27 16:17] joserenatog commented on #24
Ok!

[2018-01-27 16:22] joserenatog commented on #24
Email sent!

[2018-01-27 16:23] ZhaoSin opened #27 "Examples for ver 2?"
Link: https://github.com/KyranRana/cloudflare-bypass/tree/master/v2/examples

What different between curl.php and streamcontext.php mate ?

[2018-01-27 16:44] KyranRana commented on #27
Well, they both do the same thing which is bypass Cloudflare. The difference is CFCurl provides a wrapper for curl_exec, and CFStreamContext provides a wrapper for stream_context_create. So if you have a context already setup for connecting to a website, use CFStreamContext, otherwise use CFCurl.

[2018-01-27 16:45] KyranRana commented on #27
I will document everything soon and add some more examples. But those examples should be a good starting point and how the class can be used.

[2018-01-28 16:06] freeman3s commented on #22
@KyranRana https://csgoempire.com works well, but then I tried this link https://csgoempire.com/api/get_bot_items and again got 401
Warning: file_get_contents(https://csgoempire.com/api/get_bot_items): failed to open stream: HTTP request failed! HTTP/1.1 401 Unauthorized

[2018-01-28 16:29] KyranRana commented on #22
@freeman3s - that link in my browser also outputs 401 after CF has validated ? Maybe requires HTTP authorisation ?

[2018-01-28 16:37] freeman3s commented on #22
@KyranRana I opened https://csgoempire.com/api/get_bot_items in incognito and got the necessary data without authorization. It looks like it does not require HTTP authorization

[2018-01-28 17:21] KyranRana commented on #22
Interesting. Seems like the first time you request it it works (with CF process), but after its a 401.
All I can recommend for now is turning cache off and see if that works. Set "cache" to false.

[2018-01-28 17:32] freeman3s commented on #22
@KyranRana how?
`<?php
require __DIR__ . '/../vendor/autoload.php';

use CloudflareBypass\RequestMethod\CFStreamContext;

$stream_cf_wrapper = new CFStreamContext(array(
    'cache'         => true,  // Caches clearance tokens into Cache/ folder under md5(site host)
    'max_attempts'  => 5      // Max attempts to try and get CF clearance
));

// Get Example: 1
$opts = array(
    'http' => array(

[2018-01-28 17:34] KyranRana commented on #22
I'll take a further look. I will update the issue when I have some more information on this.

[2018-01-28 17:37] freeman3s commented on #22
@KyranRana I understand correctly?
You just changed $url in streamcontext.php file and it works?

[2018-01-28 17:40] KyranRana commented on #22
@freeman3s I just tried loading the URL in my browser, haven't done anything code related yet. I opened Icognito like you did and refreshed the page a few times. The first time I did it, the 2nd reload triggered 401. The second time, no matter how many times I reloaded the page it loaded correctly.

I will find out what's going on a little later.

[2018-01-28 17:43] freeman3s commented on #22
@KyranRana Thank you!

[2018-01-28 23:32] #24 closed

[2018-01-29 08:50] KyranRana commented on #4
Try version 2 and let me know what you think. I haven't documented the library just yet but you can find some good examples in v2/examples

[2018-01-29 08:54] KyranRana commented on #9
Sorry for the really long delay. Its been a busy year for me, if you could tell me what you were trying to do at the time that would be helpful. :+1:

[2018-01-29 08:55] KyranRana commented on #8
I'm closing this as you seem to be inactive. If you do come back, please reopen the issue.

[2018-01-29 08:55] #8 closed

[2018-01-29 11:08] KyranRana commented on #12
Try version 2. There are some useful examples in v2/examples

[2018-01-29 14:35] KyranRana commented on #11
Use version 2 for now. You can find some examples in v2/examples

[2018-01-29 14:36] KyranRana commented on #7
Closing. If you do come back please re-open the issue.

[2018-01-29 14:36] #7 closed

[2018-01-29 17:54] freeman3s commented on #22
@KyranRana I added a Referer header and everything worked. You can close this issue.
Once again many thanks for the excellent library!!!

[2018-01-29 19:15] KyranRana commented on #22
@freeman3s No worries glad you managed to fix the issue. 👍

[2018-01-29 19:15] #22 closed

[2018-02-05 02:07] xaiborweb opened #29 "where is the file vendor/autoload.php"
hello thank you very much for your work zip download your project and intenete execute
https://github.com/KyranRana/cloudflare-bypass/blob/master/v2/examples/curl.php

but I throw myself the following message
`Warning: require(C:\xampp\htdocs\bot\cloudflare-bypass-master\v2\examples/../vendor/autoload.php): failed to open stream: No such file or directory in C:\xampp\htdocs\bot\cloudflare-bypass-m

[2018-02-05 09:29] KyranRana commented on #29
You can avoid using composer by just replacing vendor with src.

So `require __DIR__ . '/../src/autoload.php';`

[2018-02-07 03:05] madri2 opened #30 "v2 doesn't work without cache"
passing false/null to "cache" in the array parameter is useless, it's ignored
if (isset($config['cache']) && $config['cache']) {
            $this->cache = new Storage();
        }
maybe adding
else
$this->cache = null;

if not, it will crash here
if (isset($this->cache)) {
                $info = $ch->getinfo();
                $components = parse_url($info['url']);
                // Set clearan

[2018-02-07 12:16] josiasmontag opened #31 "Security"
If I see it correctly, v2 currently allows an attacker to execute arbitrary code using a "fake" CloudFlare IUAM page: https://github.com/KyranRana/cloudflare-bypass/blob/master/v2/src/CloudflareBypass/CFBypass.php#L114

Any ideas how to secure this? If not, there should be a big warning in the README to only use this package with whitelisted web sites (and not URLs form user input).

[2018-02-07 17:08] KyranRana commented on #31
I don't see how it is a security risk as the regex which tracks the arithmetic picks up only symbols?

The only variable which is set is `$params['jschl_answer']` and if the code executes properly it should ALWAYS be a number. Could you give me an example of how an attacker could exploit using only symbols such ()[]+?

Refer to: https://github.com/KyranRana/cloudflare-bypass/blob/master/v2/src/Clo

[2018-02-07 17:15] KyranRana commented on #30
I will check this out and get back to you. :)

[2018-02-07 18:26] josiasmontag commented on #31
Thanks for clarifying. I did not notice that the regex is so specific.

[2018-02-07 20:37] KyranRana commented on #31
Not a problem. The documentation will be coming soon. I am just busy at the moment.

[2018-02-07 20:37] #31 closed

[2018-02-25 10:15] KyranRana commented on #30
Fixed in latest commit. 👍

[2018-02-25 10:15] #30 closed

[2018-02-25 10:16] #29 closed

[2018-02-25 10:16] #11 closed

[2018-02-25 10:16] #12 closed

[2018-02-25 10:22] #9 closed

[2018-02-25 10:30] KyranRana commented on #13
Fixed in the latest commit. 👍

[2018-02-25 10:30] #13 closed

[2018-02-25 10:30] #18 closed

[2018-02-25 21:34] railken opened #34 "Cache path"
Hi, is there a way to configure the cache path?

[2018-02-25 22:31] railken opened #35 "Missing library in Packagist"
This library is missing in Packagist, so it can't be installed using composer

[2018-02-25 22:54] KyranRana commented on #34
Good idea. Will add that to my todo list 👍

It will be an extra property to the configuration passed through to CFCurl and CFStreamContext.

I'll update this ticket once this has been added and tested.

[2018-02-25 22:57] KyranRana commented on #35
Yea, since V2 is experimental I am going to let it ride for a bit of time.

I still need to add some form of testing for making sure the library works, but haven't got time to do it just yet. Once this has been done and V2 is proved stable, I will make my first release and add the github repo to packagist.

Have you managed to test the library yet? And if so does it work for the site you plan on u

[2018-02-25 23:16] railken opened #36 "GuzzleHttp integration"
It would be great if an integration with guzzlehttp was done

[2018-02-25 23:24] railken commented on #35
Yup it works pretty well.

I made a fork and added some tests with phpunit.
Tested guzzlehttp with the site of my interest and it works

[2018-03-06 20:34] railken opened #38 "Use branches/tags for the versioning"
It would be better to use branches/tags instead of having two folders with v1/v2

[2018-03-07 19:02] railken commented on #36
Done with #39

[2018-03-07 19:02] #36 closed

[2018-03-10 05:56] risklife opened #41 "Error Scrapping"
Hello, I have this error, i load the autoload from folder src.

Uncaught exception 'ErrorException' with message 'Exceeded maximum retries trying to get CF clearance!

[2018-03-10 09:13] KyranRana commented on #41
Which site are you trying to request?

[2018-03-10 14:16] risklife commented on #41
http://gnula.nu/

[2018-03-11 13:12] railken commented on #41
Can you provide the code that you used?

I tried with this one and seems to work:

[code]

[2018-03-18 04:44] tizis opened #42 "Need little fix for dev comments"
/v1/libraries/httpProxyClass.php
        /**
	 * @param string  **$content**         Response contents
	 */
	private function populateArrayWithRequestData(**$contents**, $status, $storeFullStatus, &$dataTarget) {

$content -> $contents

[2018-03-18 06:08] reneciokaigen opened #43 "i have an error at CFBYpass.php"
(1/1) FatalThrowableErrorParse error: syntax error, unexpected ')'
--
in CFBypass.php(117) : eval()'d code (line 1)
at CFBypass->getClearanceLink(

When i print the php_code eval , get this
$params['jschl_answer']=);$params['jschl_answer']=);$params['jschl_answer']=);$params['jschl_answer']=);$params['jschl_answer']=);$params['jschl_answer']=);$params['jschl_answer']=);$params['jschl_answer']=(0);

[2018-03-18 13:25] KyranRana commented on #43
Which site have you tried requesting?

[2018-03-18 13:26] reneciokaigen commented on #43
Hello, this site

https://animeflv.net/

2018-03-18 7:25 GMT-06:00 Kyran Rana <notifications@github.com>:

--

------------------------------
*    Por favor considera el medio ambiente antes de imprimir este correo
 *
------------------------------
Este Correo Electrónico (CE) contiene información privada y confidencial,
sólo está dirigida al destinatario del mismo. La información puede ser
privil

[2018-03-18 14:29] KyranRana commented on #41
I'm going to buff up the tests a little so they test multiple sites instead of one. Tests should run the script in no cache mode, but there should also be tests in caching mode too. I'll let you know when a pull request is there @railken

[2018-03-18 17:38] KyranRana commented on #43
I'll take a look and get back to you.

[2018-03-19 01:37] reneciokaigen commented on #43
Thank you , I´ll be waiting your response :)

2018-03-18 11:38 GMT-06:00 Kyran Rana <notifications@github.com>:

--

------------------------------
*    Por favor considera el medio ambiente antes de imprimir este correo
 *
------------------------------
Este Correo Electrónico (CE) contiene información privada y confidencial,
sólo está dirigida al destinatario del mismo. La información puede ser

[2018-03-19 09:52] KyranRana commented on #42
Thanks, I'll fix it but V1 is deprecated and its recommended you use V2 from now on.

[2018-03-19 11:04] railken commented on #21
@KyranRana Please add one

[2018-03-19 21:32] KyranRana commented on #43
Fixed in the latest commit. 👍

[2018-03-19 21:39] KyranRana commented on #34
Merged.

[2018-03-19 21:39] #34 closed

[2018-03-19 21:48] KyranRana commented on #41
@risklife Your issue should be fixed now.

Let me know if this is the case so I can close the issue. 👍

[2018-03-19 21:48] reneciokaigen commented on #43
Thank you so much :)

2018-03-19 15:32 GMT-06:00 Kyran Rana <notifications@github.com>:

--

------------------------------
*    Por favor considera el medio ambiente antes de imprimir este correo
 *
------------------------------
Este Correo Electrónico (CE) contiene información privada y confidencial,
sólo está dirigida al destinatario del mismo. La información puede ser
privilegiada. Está prohi

[2018-03-19 21:49] #43 closed

[2018-03-27 07:18] #42 closed

[2018-03-27 17:52] Rosenkreuzer opened #46 "Need help with composer"
Hi, I'll try to add your project using composer, but it wont work.

I use:
composer require kyranrana/cloudflare-bypass

I get:
 Could not find package kyranrana/cloudflare-bypass at any version for your
  minimum-stability (stable). Check the package spelling or your minimum-stab
  ility

How I understant, I need to provide version, because it (your project) doesnt have stable version.

Can help

[2018-03-27 18:59] railken commented on #46
Hi, this repository is still not linked to packagist (#35), so there is no command to install it using composer.

I don't know when it will be properly configured.
We need this! @KyranRana

If you need it right now you can make a fork, change a few things and connect to packagist yourself as i did.

[2018-03-27 19:51] Rosenkreuzer commented on #46
I made strange workaround, instaled it from your packagist link, but used namespace use KyranRana\CloudflareBypass\RequestMethod\CFCurl; and it worked, but it worked not as I expected. Cloudflare throw an error, that i need to set a cookie. I check Cookies folder, there were file with data, but it dont help

[2018-03-27 20:00] Rosenkreuzer commented on #46
https://ibb.co/f1yXvS

[2018-03-27 20:01] Rosenkreuzer commented on #46
This is error i get: https://ibb.co/bBQO27

[2018-03-27 22:01] railken commented on #46
Can you provide the url that you used?

[2018-03-28 06:54] Rosenkreuzer commented on #46
text me something to info [at] horozo.com, i will tell you the url
there's good protection, they don't allow curl with proxy and they use 429 errors using stream_context_create, so only way to scrap is use small amount of requests using stream_context_create + cron, but it takes a lot of time

[2018-04-03 19:59] Rosenkreuzer commented on #46
I found a solution, that helps to scrap without any problems.
Try to use resident proxies from https://oxylabs.io/ . If you want to get script that I use and If you need a contact direct to manager, text me an email. I'm scrapping only with one line, no need to confirm cookies, captchas. Scrapping fast without problems

[2018-04-04 19:45] Paul1427 opened #47 "Errow on v1 version"
Hi! I added v1 version into my plugin on worpress and today I give this error.

`Warning: A non-numeric value encountered in libraries/cloudflareClass.php(266) : eval()'d code on line 5

Fatal error: Uncaught Error: Call to undefined function toFixed() in libraries/cloudflareClass.php(266) : eval()'d code:5 Stack trace: #0 libraries/cloudflareClass.php(266): eval() #1 libraries/cloudflareClass.php

[2018-04-04 20:31] momala454 opened #48 "v2 broken ?"
hello
it seems to be broken, did cloudlfare changed something ?

[2018-04-04 20:59] momala454 commented on #48
PHP Fatal error:  Uncaught ErrorException: Exceeded maximum retries trying to get CF clearance!

[2018-04-05 07:39] jaggedsoft opened #49 "Cannot install with composer"
`composer require "KyranRana/cloudflare-bypass @dev"`

    - The requested package kyranrana/cloudflare-bypass could not be found in any version, there may be a typo in the package name.

Maybe it needs to be case sensitive in composer.json? "KyranRana"

[2018-04-05 09:46] NikitaKurdin commented on #47
The same error.

[2018-04-05 15:05] dreamdeveloper commented on #47
I solved the problem, you need to add this line to the function solveJavaScriptChallenge "cloudflareClass.php"
`$script  = str_replace('.toFixed(10)' , '', $script);`
it works for me

[2018-04-05 15:40] momala454 commented on #47
are you able to use v2 ?

[2018-04-05 18:26] dreamdeveloper commented on #47
if this is not enough, then here's another line of code that should help:
`$script  = preg_replace("/(answer)=.(\w+).(\w+)/i", '$1=$$2_$3', $script);`
since it works on one server, but on another server for some reason, without this line of code it's not working

[2018-04-05 18:39] Paul1427 commented on #47
@dreamdeveloper Which version of php do you use? With both line on php 7.2 I have same error. Can you tell me what version do you use? Also, on what line do you add
`$script = preg_replace("/(answer)=.(\w+).(\w+)/i", '$1=$$2_$3', $script);`
I pun on function solveJavaScriptChallenge on top of `eval($script);` - line 264

[2018-04-05 18:50] dreamdeveloper commented on #47
here is a screenshot of the function solveJavaScriptChallenge
PHP Version 5.6.34 | PHP Version 5.5.9
![fix_bugs](https://user-images.githubusercontent.com/10743142/38385600-f626314c-391a-11e8-84a0-9d768d2a0da4.png)

[2018-04-05 19:05] Paul1427 commented on #47
@dreamdeveloper thank you! I can confirm that code work also on php 7.2

[2018-04-05 19:08] dreamdeveloper commented on #47
@Paul1427 ok, that's great!

[2018-04-06 00:04] crackfoo commented on #48
I see this now too...

[2018-04-06 04:10] Paul1427 commented on #47
Hm, yestarday it's working, now i get only "Could not fetch CloudFlare clearance cookie (most likely due to excessive requests)" . Anyone have same error?

[2018-04-06 08:05] #49 closed

[2018-04-06 11:27] momala454 commented on #48
yes it works thanks

[2018-04-06 18:07] NikitaKurdin commented on #47
Yes, I have...

[2018-04-07 01:58] judgdredd opened #52 "V2 code not working anymore"
Just hangs and fails to return pagedata, tried on several cloudflare protected sites

[2018-04-07 08:52] railken commented on #52
Issue #48

[2018-04-07 18:01] KyranRana commented on #52
Merged.

[2018-04-07 18:01] #52 closed

[2018-04-07 18:01] KyranRana commented on #48
Merged.

[2018-04-07 18:01] #48 closed

[2018-04-08 10:31] ReModWrite opened #53 "Fix Update cloudflareClass.php V1"
`<?php
class cloudflare {

	// {{{ Definitons

	/**
	* Will temporarily store amount of attempts taken to get the cloudflare clearance cookie
	*
	* @var integer
	* @access private
	*/
	private static $cfBypassAttempts = 0;

	/**
	 * User agent which will be used for all of our cURL requests
	 *
	 * @var string
	 * @access private
	 */
	private static $userAgent;

	// }}}
	// {{{ useUserAgent()

	/

[2018-04-08 10:33] ReModWrite commented on #47
you can see for fix https://github.com/KyranRana/cloudflare-bypass/issues/53

[2018-04-08 13:41] judgdredd opened #54 "V2 requests taking a long time"
each request even after caching is taking up to 10 seconds every time now. Is the caching working correctly?

[2018-04-08 15:27] judgdredd commented on #54
Found the issue in the fetch function within the Storage class

lines: 57, 63 and 64 reference a path without the directory separator /

So they never find the file and the fetch function returns false every time

[2018-04-08 16:06] KyranRana commented on #54
Fixed in #55

Thanks for reporting.

[2018-04-08 16:07] #54 closed

[2018-04-08 16:09] #41 closed

[2018-04-10 09:27] ash121121 opened #57 "Proxy ip"
Could someone help me in getting this script to work using a http proxy?

i tried setting some settings in curl but no success
private static function getPage($link, $referer, $headers = array()){
		// use cURL
	if($curlResource = curl_init($link)){
			// header settings
			$proxy1 = '173.2767676.234:58378';
			curl_setopt($curlResource, CURLOPT_PROXY, $proxy1);     // PROXY details with port
			c

[2018-04-18 18:55] KyranRana commented on #57
Did you fix the issue?

[2018-04-18 22:07] ash121121 commented on #57
Yes I did thank you

[2018-04-19 17:02] ash121121 opened #58 "Proxy ip"
Could anyone help me? I've added proxy ip  to curl inside V1 classes and seems working but I'm getting thousands of cookies in cf-cookies

Thanks in advanced

[2018-04-19 18:18] KyranRana commented on #58
It is recommended you use V2, V1 is deprecated.

[2018-04-19 18:34] ash121121 commented on #58
I didn't switch to V2 because everything seemed just working fine . But as soon as I add proxy ip into curl it generates thousands of cookies that I thought was strange

[2018-04-19 18:34] ash121121 commented on #58
What are the pros for switching to V2 ?

Thanks

[2018-04-19 23:29] ash121121 commented on #58
Using V2 now with no issues thanks

[2018-04-19 23:29] #58 closed

[2018-04-20 18:10] KyranRana commented on #58
Sorry for the delayed response. V2 is just a cleaner version of V1 which is now being maintained by myself, @railken, and some other collaborators. If you come across any issues just raise them here, and I will do my best to get back to you. If I don't, @railken may do.

Its that time where I am busy again. There are things which are still outstanding for this project e.g. licenses, versioning, an

[2018-04-21 07:36] newfolders opened #59 "Call to undefined function toFixed()"
I think cloudflare updated their code. Can anyone help me about this error?

Does this library still work?

![4-21-2018 10-35-01 am](https://user-images.githubusercontent.com/25988591/39081760-bf45b350-454f-11e8-930a-0d0fcc60a349.jpg)

[2018-04-21 08:30] KyranRana commented on #59
V1 will be deleted soon, it is recommended to switch over to V2. There is examples of how to use V2 in /v2/examples.

If you don't want to install composer use the autoload.php in the src folder.

[2018-04-21 15:39] newfolders commented on #59
V2 is working thank you!

I have a question. Cookie files are saves into "C:\Windows\Temp\cf-bypass\" folder.

How can I store cloudflare cookies into classic HTTP Cookie File like this?

[code]

[2018-04-21 18:40] KyranRana commented on #59
You can disable caching by toggle the "cache" option, and configure the CURLOPT_COOKIEFILE and CURLOPT_COOKIEJAR options to save to the path of your choice. :)

[2018-04-21 18:42] #57 closed

[2018-04-21 20:45] newfolders commented on #59
I don't know if I did it true but,

It didn't work with v2\examples\curl.php

But when I add CURLOPT_COOKIEJAR option to v2\src\CloudflareBypass\RequestMethod\CFCurl.php under the (3. Solve challenge and request clearance link) it worked.

[2018-04-22 06:40] KyranRana commented on #59
Which site are you trying to access, and what kind of path do you want the cookies stored in?

[2018-04-22 06:50] newfolders commented on #59
I tried with http://thebot.net/.

Actually it worked. Only problem is I changed CFCurl.php library code. I think it is calling core hack :) I have to change CFCurl.php everytime library updates.

Thank you for this great work!

[2018-04-22 07:28] KyranRana commented on #59
Can you show me your cURL code outside the library?

[2018-04-22 14:14] newfolders commented on #59
I declared cookie file on my main script;

[code]

And CFCurl.php

[code]

And now I have the cookie file. I'm able to login successfully.

[code]

Again thank you for this great work!

[2018-05-21 02:19] nitemare opened #60 "Integrate v2 into my class"
I'm trying to switch from v1 to v2, as v1 has stopped working, and v2 seems to work when i test it on its own. but when i attempt to integrate it in to my class, i'm getting an error about "Use". Admittedly i'm not familiar with Use or how to fix it.
The error is:

here is an example of my code:
`

class Source{

	public $dbase = NULL;
	public $be = NULL;
	public $log = NULL;

	public function get

[2018-05-21 08:37] railken commented on #60
http://php.net/manual/en/language.namespaces.importing.php

"The use keyword must be declared in the outermost scope of a file (the global scope) or inside namespace declarations. This is because the importing is done at compile time and not runtime, so it cannot be block scoped. "

[2018-05-21 15:51] nitemare commented on #60
it did, thanks :)

[2018-05-21 15:51] #60 closed

[2018-05-29 01:03] bseymour1 opened #61 "How to use? Are the examples supposed to work as is?"
Using the examples, curl.php returns nothing, and streamcontext returns 503 error.

Am I missing something? How can I retrieve page results?

Thanks so much!

[2018-05-29 09:12] santah opened #62 "v2 not working anymore"
Edit: This is via CFCurl, with CFStreamContext - it works fine.

Since the 23rd of May, v2 can't seem to be able to bypass cloudflare anymore.

The url I'm trying is: https://predb.me/ and outputting the browser check page (instead of the target page, as it successfully did for the last few months).

I don't really know how to debug further. Let me know.

[2018-05-29 12:30] railken commented on #62
The primary goal of this library is to bypass this:

![example](https://i.imgur.com/WYBvXZj.png)

In your case there is nothing to bypass, only a simple header agent to add

Simple request return 503
[code]

Using User-Agent return 200
[code]
If your ip got banned  you should change your ip or use a proxy library

Hopefully this will help to clarify

[2018-05-29 12:35] railken commented on #61
Hello, are you using v1 or v2? You have also to provide the url, otherwise we can't help you

[2018-05-29 13:20] santah commented on #62
It's possible it depends on country (I'm accessing it from the UK).

Even with user-agent, I get the "Please wait 5 seconds" browser check which before 23rd of May was successfully bypassed by the same php class.

The IP doesn't seem to be banned or in anyway specifically restricted as it pulls the target page just fine using CFStreamContext.

[2018-05-29 15:06] railken commented on #62
Yes, it's possible!

If you see the "Please wait 5 seconds" than we have a problem.

I have tried with a bunch of proxies from uk, but i still get 200

[code]

[2018-05-30 04:44] santah commented on #62
here:

[code]

[2018-06-02 08:07] KyranRana commented on #62
I'll merge as soon as its confirmed a working fix. Really do appreciate the support you are giving here @railken

[2018-06-02 14:00] santah commented on #62
Sorry for the delay! Unfortunately, still getting the 5 seconds page. Log again below:

`* Added cookie cf_clearance="6b9bb0c172264177abe41467e341b862a7b3b00f-1527947815-604800" for domain (nil), path (nil), expire 0
* Added cookie __cfduid="dfcd37d799435f03caf8e3b1c14eec8c91527947811" for domain (nil), path (nil), expire 0
*   Trying 104.18.60.235...
* TCP_NODELAY set
* Connected to predb.me (104

[2018-06-02 15:07] railken commented on #62
I know it's a dumb question, but i have to ask anyway: the commit is not merged, did you tried with the commit of the pull request or simply re-downloaded the library?

The "protection of 5 seconds" occurs only when you're searching, there is no protection in the GET /.
Can you confirm me this?

Return 200
[code]

Return 503
[code]

In any case i have to add a config "verbose" to help us while deb

[2018-06-02 15:49] santah commented on #62
I only overwrote this file, copying it from the RAW view here:

https://raw.githubusercontent.com/railken/cloudflare-bypass/79e2f46309e051f29e210b12510569df51dea261/v2/src/CloudflareBypass/CFBypass.php

Is that enough?

And yes - I confirm the "5 second" thing only pops up when searching. When simply loading predb.me - it outputs the target page.

[2018-06-02 16:58] railken commented on #62
Yes, thanks for confirming it.

I made a fix and added a config "verbose".

Please a check the same pull #63, add  `"verbose" => true` in your CFCurl instance and try again.

[2018-06-06 06:35] santah commented on #62
I've updated both CFCore and CFBypass to the latest versions.

[code]

Here is what I'm getting as an output:

Toggling "'verbose' => true" to false doesn't seem to make a difference. The output is the same.

[2018-06-07 15:39] railken commented on #62
@santah
Working tests (PHP 7.1 and php 7.2) https://travis-ci.org/railken/cloudflare-bypass
Delete all your cache files (or disable it) and try again with #63

@nitemare
PHP Version?
Your sample code?
Log of the request?

[2018-06-07 17:47] santah commented on #62
Updated to the latest CFBypass.

PHP Version 5.5.38

Same result. In the code I pasted before, I only changed "'cache'         => true" to false and uncommented the curl log to curl.txt.

I don't have any other cache.

Here is the log from curl:

[code]

[2018-06-08 02:39] bseymour1 commented on #61
Using v2. Tried using it as is with thebot.net or whatever the example url was. Tried other urls as well.

[2018-06-08 04:30] railken commented on #61
PHP Version?

Add `curl_setopt($ch, CURLOPT_VERBOSE, true);` before submitting the request and paste the logs here

You can check the tests [here](https://github.com/KyranRana/cloudflare-bypass/blob/master/v2/tests/CurlTest.php) for working samples

[2018-06-08 16:22] KyranRana commented on #62
@santah  Can you please send me the code you are using for attempting to bypass cloudflare for this site to ranakyran123@gmail.com ?

I'll take a look and see where its going wrong. I have PHP 5.5.36 and its working fine for me.

[2018-06-08 17:07] santah commented on #62
I have pasted it in its entirety here:

https://github.com/KyranRana/cloudflare-bypass/issues/62#issuecomment-394956596

[2018-06-08 17:47] KyranRana commented on #62
it works for me. Could we do a join.me session? That's the only way i will be able to see what is going on. Email me.

[2018-06-08 18:07] santah commented on #62
Will do.

[2018-06-08 18:11] santah commented on #62
Will do.

[2018-06-10 00:59] nitemare commented on #62
I'm using PHP 7.0.30 and i don't know how to get logs of the request. here is the code i'm using:
`
require_once '../libraries/autoload.php';

use CloudflareBypass\RequestMethod\CFCurl;

$siteUrl = "http://torrentz2.eu/584cb082cb19d81dbabe3e201d89976459d495ea";
//$siteUrl = "http://torrentz2.eu/";
//$siteUrl = "http://google.com/";

$curl_cf_wrapper = new CFCurl(array(
	'cache'         => true,

[2018-06-12 21:00] KyranRana commented on #62
nitemare, we can organise a join.me session as well. If you mail me @ ranakyran123@gmail.com I can fix your issue as well.

[2018-06-16 08:14] KyranRana commented on #53
V1 is now deprecated and will be removed in the next major update.

[2018-06-16 08:14] #53 closed

[2018-06-16 08:20] KyranRana commented on #47
V1 is now deprecated and will no longer be maintained.

Please use V2, you can look in v2/examples for example code snippets. Replace "vendor/autoload.php" with "src/autoload.php" until I get this package on packagist.

@dreamdeveloper @Paul1427 @snnyk @momala454 @NikitaKurdin

[2018-06-16 08:50] #59 closed

[2018-06-27 00:43] ash121121 commented on #62
hey mate im also getting this issue. could i join in :D

[2018-06-27 00:59] railken commented on #62
@KyranRana Did you find the problem?

[2018-06-27 09:18] ash121121 commented on #62
my issue was trying to proxy torrentz2.is ... it would just show the 5 seconds page . but i found changing the proxy ip to  a fresh one solved it.

[2018-07-04 08:47] leonhuangplus commented on #21
@KyranRana
Hi KyranRana
We would like to ask your permission to license CloudFlareBypass, would you please contact us via leonhuang@asustor.com.
Waiting for your reply. Thank you.

[2018-07-09 16:32] nitemare commented on #62
@KyranRana I have not heard back from you, have you made any progress?

[2018-07-26 09:52] ravau opened #64 "v1 stopped working"
Hi, since aproximately 24/07/2018 - v1 stopped to work..

edit: but I managed to replace it with v2 which works fine

[2018-07-26 19:10] KyranRana commented on #64
V1 is deprecated now so just use V2.

[2018-07-26 19:10] #64 closed

[2018-08-13 20:12] Dibbyo456 commented on #62
@KyranRana I'm using PHP 7. The caching is enable by default. But I'm not seeing any cache folder... Help?

[2018-08-14 00:35] yumedia commented on #62
Same with me, do not see cache folder !

[2018-08-15 12:08] KyranRana commented on #62
@Dibbyo456 @ash121121 @yumedia Have you all set a custom cache path or are you using the default cache path? The default cache path uses the system's temporary folder (dependent on the OS you use).

[2018-08-15 12:13] Dibbyo456 commented on #62
@KyranRana No. I did not set any custom cache path. I just used the default one.

I just checked /tmp folder on my XAMPP, I could not find any cache..!

[2018-08-17 15:11] Dibbyo456 commented on #62
Update: Just wanted to let you know, that I'm using **CFStreamContext**

[2018-08-17 15:19] KyranRana commented on #62
Create another PHP file and put the following code inside:
`<?php
echo get_sys_temp_dir();`

Run the file and check in that directory if the cf-bypass folder exists.

[2018-08-18 04:42] Dibbyo456 commented on #62
I think you meant `sys_get_temp_dir()`. Anyway, YES. `cf-bypass` exists.
But an empty folder.. No files.. Is it because I'm _**not using**_ cURL?

[2018-08-18 09:36] KyranRana commented on #62
1. Try setting a `cache_path` on initialisation and set it to a path you can access on your drive.
2. Run the script and check if a file appears in the path which you have set. The filename should be an MD5 hash.

[2018-08-18 10:29] Dibbyo456 commented on #62
Just like I suspected in the first place.

When, using **CFStreamContext** cache **does not create** at all.
But when **CFCurl** cache creates properly..

[2018-08-21 11:36] KyranRana commented on #62
I have fixed the caching issue with **CFStreamContext** and added some tests to make sure it continues to work. I will put a pull request out later today.

[2018-08-23 19:29] KyranRana commented on #62
@railken I am having issues running the tests when creating a pull request, Travis CI build keeps failing but it passes on my local environment. Can you help? Its the only pull request available right now. Thanks.

[2018-08-23 22:57] railken commented on #62
@KyranRana

php 5.6: https://github.com/travis-ci/travis-ci/issues/6339
php 7.1.18 and 7.2: a proxy server is necessary

I have created #65 to fix the proxy server with the new CFStreamContext test

When using travis you should add the PROXY_SERVER env var, i have sent to you an email with more details

[2018-08-24 10:29] KyranRana commented on #62
@railken I haven't received an email from yourself. Also regarding Travis CI, I noticed the travis.yml file has a command to create a .env file however doesn't append any settings to it.

[2018-08-24 10:48] railken commented on #62
@KyranRana Isn't ranakyran123@gmail.com your email?

btw, add `PROXY_SERVER` as name and `192.244.99.107:3129` as value here
![d](https://i.imgur.com/jWkBT0L.png)

[2018-08-24 12:31] KyranRana commented on #62
PHP 5.6 test is the only one failing now. The other 2 pass.

We have to wait for a fix from that thread. :/

[2018-09-07 12:27] skibulk opened #66 "In the v2 CURL example, what does the 'cache' parameter do?"
Does it only save the clearance token for later use, or does it also cause Cloudflare to cache the request? I'm writing an app in which I want to use CURL to preload the cache on Cloudflare (UAM is off). For some reason, Cloudflare [won't cache my CURL requests](https://stackoverflow.com/questions/52150863/couldflare-wont-cache-page-via-curl-request).

[code]

[2018-09-07 15:56] KyranRana commented on #66
The script caches the clearance tokens into the directory specified in `cache_path` (or the system temp directory).

The file which it caches cookies in is `md5( hostname of site ).txt`

[2018-09-07 16:08] skibulk commented on #66
Thanks for clarifying.

[2018-09-07 16:08] #66 closed

[2018-09-09 13:00] blaqmajik commented on #46
If you want to use the current repository with Composer, modify your composer.json according to this:

[code]

Note that I made that version number (2.0.0) up, as the composer.json schema insists on it and the reference could point to a branch like the current "cloudflare-bypass-streamcontext-cache-fix" as well.

Hope you guys will make a release soon and get this added to packagist, it's a very h

[2018-09-28 17:41] curla92 opened #67 "how can i set cf clearance cookie? thank y"
i would to add cf clearance cookie with v2 example. thank y

[2018-09-29 11:08] curla92 commented on #67
i added these lines….

curl_setopt($ch, CURLOPT_COOKIEJAR, COOKIE_FILE_PATH);
curl_setopt($ch, CURLOPT_COOKIEFILE, COOKIE_FILE_PATH);

is it ok? thank y

Il giorno 29 set 2018, alle ore 12:19, Kyran Rana <notifications@github.com<mailto:notifications@github.com>> ha scritto:

cache_path

[2018-10-13 10:12] KyranRana commented on #67
Try this:

`
$curl_cf_wrapper = new CFCurl(array(
    'cache'         => true,   // Caching now enabled by default; stores clearance tokens in Cache folder
    'max_retries'   => 5,       // Max attempts to try and get CF clearance
    'cache_path'   => COOKIE_FILE_PATH  // Where to cache session/clearance tokens.
));
`

[2018-10-13 16:08] AlexandrKane opened #68 "v2 stopped working on my server"
Hello friends
I have problems with this library.

I tried to use code on php 5.4 but it did not work. Then I updated php to version 5.5.38 and the code worked, I was very happy. But my happiness did not last long. After a week, I again began to receive an error:

`Fatal error: Uncaught exception 'ErrorException' with message 'Unable to fetch jschl_vc and pass values; maybe not protected?' in /home

[2018-10-26 10:33] bhrdn commented on #68
![screenshot from 2018-10-26 17-29-41](https://user-images.githubusercontent.com/13828056/47561305-21edbf00-d945-11e8-8d6a-8503ef92c802.png)

u can add the real ip address to /etc/hosts

[2018-10-26 13:15] curla92 opened #69 "i would to use proxy with stream method"
i would to use proxy with stream method, can you help me? thanks

[2018-11-05 11:55] curla92 commented on #69
<?php
require __DIR__ . '/../src/autoload.php';
use CloudflareBypass\RequestMethod\CFStreamContext;
$stream_cf_wrapper = new CFStreamContext(array(
    'cache'         => true,  // Caching now enabled by default; stores clearance tokens in Cache folder
    'max_retries'   => 5,
    'verbose' => true
));

$link='http://thebot.net/';
$var = time();
$proxy=$_COOKIE['proxy'];
$proxyset=$_COOKIE['Proxi

[2018-11-08 02:21] ZhaoSin opened #73 ""Unable to fetch jschl_vc and pass values; maybe not protected" make the rest code stop working"
I get this problem "Unable to fetch jschl_vc and pass values; maybe not protected" from line "echo $curl_cf_wrapper->exec($ch)" then the rest code stop working. Do you have anyway to check this line work or not? Example:

if($curl_cf_wrapper->exec($ch) == no){
echo "not work";
break;
}else{
echo "work";
...Do other code...
}

[2018-11-10 09:41] KyranRana commented on #73
Do you have a messenger id? Like Telegram or Skype? If so can you mail me at ranakyran123@gmail.com

I can help you resolve this problem

[2018-11-10 15:57] WAVDEVTEAM opened #74 "Not working curl of v2"
i get this error on my server

Fatal error: Uncaught exception 'ErrorException' with message 'Exceeded maximum retries trying to get CF clearance!' in /Cloudflarebypass/CloudflareBypass/RequestMethod/CFCurl.php:100 Stack trace: #0 /Cloudflarebypass/CloudflareBypass/RequestMethod/CFCurl.php(103): CloudflareBypass\RequestMethod\CFCurl->exec(Object(CloudflareBypass\RequestMethod\Curl), false, 6) #1 /

[2018-11-10 16:20] santah commented on #62
As of yesterday, this is no longer working using CFCurl AND CFStreamContext.

(until yesterday, CFStreamContext was working fine).

It now returns 503 error.

No changes on my side.

[2018-11-10 17:36] santah opened #75 "v2 no longer working"
here is the unscrappable URL:

https://predb.me/?search=720p

[2018-11-11 16:51] KyranRana commented on #75
When did it stop working roughly?

[2018-11-11 17:13] KyranRana commented on #62
p

[2018-11-11 17:20] santah commented on #75
On the 9th this month.

[2018-11-13 07:12] xing1943 commented on #73
You're welcome. Would be helpful to let us know if it works for you.

[2018-11-20 19:24] rapcrown opened #77 "V2 Version Problem"
Not working check web browser.

`require __DIR__ . '/vendor/autoload.php';

use CloudflareBypass\RequestMethod\CFCurl;

$curl_cf_wrapper = new CFCurl(array(
    'max_retries'   => 5,                   // How many times to try and get clearance?
    'cache'         => true,                // Enable caching?
    'cache_path'    => __DIR__ . '/cache',  // Where to cache cookies? (Default: system tmp

[2018-11-20 21:50] KyranRana commented on #77
I will be releasing a new build soon. Please wait for this build. Saturday it will be out by the latest.

[2018-11-20 22:29] rapcrown commented on #77
Thank you waiting.

[2018-11-23 03:11] topboy12 opened #78 "How to set a command on the method"
I am trying to use this on layer 7 but i dont know which command to type and i dont need bots or proxys just my vps, anyway you will update this for UAM and can bypass also captcha?

[2018-11-23 17:49] topboy12 commented on #78
sir give me ur discord

[2018-11-23 18:33] KyranRana commented on #78
Hi, I don't use discord. You can add me on Telegram at CoolioPD

[2018-11-25 15:07] topboy12 commented on #78
Okay wheres the last version update php for uam Clouflare bypass, tell me the command how it works

[2018-11-27 10:39] topboy12 commented on #78
add me https://t.me/cekboy

[2018-12-11 23:56] bert-w opened #81 "how do i add this"
it is not added to packagist composer repo. Also there are 2 versions in here.

[2018-12-12 08:30] santah commented on #75
Yep, all looks good now!

On Wed, 12 Dec 2018 at 00:29, Kyran Rana <notifications@github.com> wrote:

[2018-12-12 14:10] railken commented on #21
@KyranRana This issue can now be closed.

[2018-12-12 15:03] tinloaf commented on #21
:tada: Thanks!

[2018-12-12 15:03] #21 closed

[2018-12-12 15:21] j0k3r commented on #81
I suggest to @KyranRana to:
- create a branch called `1.x` from the current master
- remove the `v2` folder from that branch
- move stuff from v1 folder to the root
- tag `v1.0.0` on that created branch
- go back to the master branch
- remove folder `v1`
- move stuff from v2 folder to the root
- tag `v2.0.0` on the master branch
- submit the package to packagist: https://packagist.org/packages/sub

[2018-12-12 15:40] bert-w commented on #81
i concur on all points.

[2018-12-12 18:04] #75 closed

[2018-12-13 17:06] Sarfroz commented on #12
hi sir how can i pass my own cookies with request of url and also is there any way to use these headers
curl_setopt($ch, CURLOPT_HEADER, 1);
curl_setopt($ch, CURLOPT_NOBODY, 1);

[2018-12-14 19:14] #78 closed

[2018-12-15 01:17] #38 closed

[2018-12-15 12:18] KyranRana commented on #62
This problem should be resolved. If any of you run into the same problem again. Open a new issue.

[2018-12-15 12:18] #62 closed

[2018-12-15 17:47] KyranRana commented on #46
The package should be available on composer now:

https://packagist.org/packages/kyranrana/cloudflare-bypass

[2018-12-15 17:47] #46 closed

[2018-12-15 17:47] KyranRana commented on #35
Package is now available on composer:

https://packagist.org/packages/kyranrana/cloudflare-bypass

[2018-12-15 17:47] #35 closed

[2018-12-15 17:48] KyranRana commented on #68
Try again with the new version and let me know if it works?

[2018-12-15 17:48] KyranRana commented on #73
Try again with the new version. Its recommended you enable caching to stop requesting the clearance token every time.

[2018-12-15 17:48] #73 closed

[2018-12-15 17:49] KyranRana commented on #74
@WAVDEVTEAM Try again with the new version and let me know if it works for you?

[2018-12-15 17:49] #27 closed

[2018-12-15 18:50] KyranRana commented on #61
@bseymour1 Try with the new version of CF Bypass and let me know if it works?

[2018-12-15 20:14] KyranRana commented on #81
@j0k3r All done! :)

[2018-12-17 08:00] j0k3r commented on #81
Almost!

- You did not enable auto update on packagist. New release aren't shown on this page: https://packagist.org/packages/kyranrana/cloudflare-bypass
- I guess you should tag v2.0.1 on the current master with all these new changes: https://github.com/KyranRana/cloudflare-bypass/compare/v2.0.0...master

[2019-01-05 16:41] L4BORG opened #85 "Memory leak"
I think latest commit has memory leak (I didn't test old ones).

I've been testing cURL example and memory usage would keep increasing if used in loop, even if I try to unset and set $curl_cf_wrapper in each iteration.

[2019-01-05 16:44] L4BORG commented on #85
I take that back, I just saw it might be due to mistake on my end and unsetting $curl_cf_wrapper would actually fix the issue. Ill reopen if that's not the case.

[2019-01-14 12:52] L4BORG commented on #85
After some more testing I can now confirm, when used in loop memory usage would constantly increase. Using cURL version with caching disabled.

[2019-01-14 12:54] L4BORG opened #86 "cURL timeouts?"
I think it would make sense to add/set default timeout values for cURL as it seems cURL would get stuck/bug out in some cases without them.

Maybe something like this...

Curl.php
[code]

[2019-01-14 13:01] L4BORG commented on #85
Things I've tried so far:

- make sure to use curl_close($ch);
- unsetting $curl_cf_wrapper and creating new object for each request
- disabled cache

code used to test:

[code]

output:

[code]

[2019-01-16 10:16] ndt258 opened #87 "Custom cookie with streamcontext"
I want to login website use cloudflare. So, how to custom cookie with streamcontext?

[2019-01-23 00:55] ash121121 opened #88 "500 error"
Has V2 stopped working? Last few days I'm getting 500 server error.

Kind regards

[2019-01-23 13:32] ash121121 commented on #88
@j0k3r

[2019-01-23 16:26] ash121121 commented on #88
Fatal error: Uncaught ErrorException: Exceeded maximum retries trying to get CF clearance! in /usr/local/lsws/wordpress/libraries/bypass.php:423 Stack trace: #0 /usr/local/lsws/wordpress/libraries/bypass.php(426): CFCurl->exec(Object(Curl), false, 6) #1 /usr/local/lsws/wordpress/libraries/bypass.php(426): CFCurl->exec(Object(Curl), false, 5) #2 /usr/local/lsws/wordpress/libraries/bypass.php(426):

[2019-01-23 19:13] KyranRana commented on #88
Are you using a proxy of some sort? I've tried with my CFBypass and its working fine.

[2019-01-23 19:16] ash121121 commented on #88
I'm using your class in my web proxy. All working fine till a week ago :(

[2019-01-23 19:39] KyranRana commented on #88
Can I have your proxy ip? Or your full cURL code?

[2019-01-23 21:32] ash121121 commented on #88
I just tried your bypassed on a new server and your correct seems to work. No idea why mine and my friends suddenly stopped working. Any ideas much appreciated

[2019-01-24 02:13] ash121121 commented on #88
Fixed looks like i was using a old version.

[2019-01-24 02:13] #88 closed

[2019-01-24 02:28] ghost opened #89 "Not Caching"
Finally im using the latest version :) but im not seeing any tokens cached in tmp/cf-bypass

[2019-01-24 02:32] #89 closed, assigned to nobody

[2019-01-25 16:01] L4BORG commented on #85
@KyranRana I think one of the issues is that $cf_request_method_copy is not being closed in CFBypasser.

The other thing I find strange is that memory usage increase after

$cf_request_method->getPage();

but won't decrease after unsetting $response and calling $cf_request_method->close();

[2019-01-25 16:03] L4BORG commented on #85
Also you're not closing handle in retention() in Storage.php but I don't think that's the issue since I'm not using Storage while testing.

[2019-01-25 16:49] L4BORG commented on #86
Might be that my system ran out of memory and cURL is not to blame for this. Ill reopen if I'll be able to replicate.

[2019-01-25 16:49] #86 closed

[2019-01-25 16:51] L4BORG commented on #85
I can confirm closing $cf_request_method_copy fixed the issue for me (I'm currently closing it before each return). With that only around 5kb-10kb of memory would be wasted for each loop.

[2019-01-29 22:24] L4BORG opened #90 "CFCurl randomly gets stuck"
https://github.com/KyranRana/cloudflare-bypass/issues/86 is not actually memory issue or cURL issue but it seems like CF Bypass script would get randomly get stuck every now and then...

For example (with verbose mode on):

[code]

and that's about it... it's hanging there for 30 minutes now. Infinite loop?

[2019-01-30 14:44] minhhai27121994 opened #91 "V2 Version Problem 30/1/2019"
I have problems with this library. Before few months ago, it still work, but now It's not working.
Please help me solve this problem.

require 'autoload.php';
curl_cf_wrapper = new CFCurl(array(
    'max_retries'   => 10,                   // How many times to try and get clearance?
    'cache'         => false,               // Enable caching?
    'cache_path'    => __DIR__ . '/cache',  // Where

[2019-01-30 19:50] sabloger opened #92 "Dangerous bug on cache storage manager - version 2.0.0"
Hi, I just replaced version 2.0.0 release files with old files, and got this warnings when i was trying to instantiate the CFCurl without cache_path option :

`Notice: Undefined index: cache_path in src/CloudflareBypass/CFCore.php on line 48

Warning: unlink(//var): Permission denied in src/CloudflareBypass/Storage.php on line 122

Warning: unlink(//opt): Permission denied in src/CloudflareBypass/

[2019-01-30 20:05] L4BORG commented on #90
Nvm it's random and it seems like it's memory leak related after all.

[2019-01-30 20:05] #90 closed

[2019-02-03 10:09] KyranRana commented on #92
Can you give me the full code? Also are you using the v2.0 release code or the old code?

You confused me when you said you replaced new with old files.

[2019-02-13 11:12] #92 closed

[2019-02-16 14:30] KyranRana commented on #85
Which version of PHP were you using?

[2019-02-16 14:36] L4BORG commented on #85
System | Linux z220 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64
Build Date | Dec  7 2018 11:36:49
Server API | Apache 2.0 Handler

you think that could cause issues?

[2019-02-16 14:37] L4BORG commented on #85
Forgot PHP version: PHP Version 7.0.33-0+deb9u1

[2019-02-16 15:26] KyranRana commented on #85
I now close $cf_request_method_copy and I get the following logs from the above script:

Memory usage: 369264 bytes
Memory usage: 472280 bytes
Memory usage: 472280 bytes
Memory usage: 472280 bytes
Memory usage: 472280 bytes
Memory usage: 472280 bytes
Memory usage: 472280 bytes

[2019-02-16 15:26] KyranRana commented on #85
You got telegram? Or any other messenger?

[2019-02-17 08:25] L4BORG commented on #85
I have Telegram, what's your ID?

[2019-02-17 11:00] KyranRana commented on #85
CoolioPD

[2019-02-23 12:03] #85 closed

[2019-03-18 12:17] snnyk commented on #91
yea v2 still not work

[2019-03-20 04:11] lilianorien opened #95 "cloudflare updated new version, can not get content"
I think cloudflare updated new version , with more param s:
https://predb.me/cdn-cgi/l/chk_jschl?s=ac02ac0318b3917cd91a3ae004265455cf2f46cc-1553055008-1800-ARck+tk99tqKtxvgWDyIaPg5UjXquij3W3HtuB81I0moyznWipS72nWKxpZMUbZAQ3loSpzq2hBxTwxkjVIinCbMtyT4gijgxRva5htujP6n&jschl_vc=b19bb08b6b766c1cbb485d72e7b86691&pass=1553055012.407-YFSqwJtQKJ&jschl_answer=278.8951663557

Not only : chk_jschl?jschl_vc=c4b

[2019-03-20 13:34] neverknoww commented on #95
Yup, I can confirm this too. This is not working anymore.

ps. great script

[2019-03-21 09:46] RootC opened #96 "CloudFlare Update 20.03.2019 HTTP 500 Error"
CloudFlare Update 20.03.2019 HTTP 500 Error ByPass  When Will the current version come ?

[2019-03-21 11:12] RootC commented on #95
Does anyone solve the problem ?

[2019-03-21 18:43] KyranRana commented on #96
i'll take a look

[2019-03-21 18:54] KyranRana commented on #91
i'm going to take a look at this.

[2019-03-21 19:02] RootC commented on #96
Thank you l'm waiting

[2019-03-22 04:19] lilianorien commented on #96
Many thanks.

[2019-03-22 09:31] RootC commented on #96
is it gonna be okay ? KyranRana

[2019-03-22 10:57] ash121121 commented on #96
I hope there's a fix :(

[2019-03-22 11:01] RootC commented on #96
I'm looking forward to it, I need it so much. :(

[2019-03-22 16:31] KyranRana commented on #96
This is a big update they have made. I may need to add a JavaScript interpreter after all. I will keep you guys up to date.

[2019-03-22 17:06] ash121121 commented on #96
What do you mean by JavaScript interpretor.  Like phantom Js?

[2019-03-22 17:10] RootC commented on #96
Thank you so much I'm waiting for good luck.

[2019-03-22 20:25] KyranRana commented on #96
Which site does this error occur on? Like which site are you trying to access?

[2019-03-22 21:08] RootC commented on #96
My Dude

<?php
ini_set("display_errors","1");
header('Access-Control-Allow-Origin: *');
header("Content-type: application/json; charset=utf-8");

include 'src/autoload.php';

use CloudflareBypass\RequestMethod\CFCurl;
$curl_cf_wrapper = new CFCurl(array(
    'max_retries'   => 1,
    'cache'         => false,
    'cache_path'    => __DIR__ . '/cache',
    'verbose'       => false
));

$file 		= "c

[2019-03-22 21:25] ash121121 commented on #96
https://eztv.io i tried here and get 500 error

[2019-03-22 21:50] KyranRana commented on #96
Try the branch cloudflare-bypass-s-param and let me know if that works for you guys :)

[2019-03-22 21:54] ash121121 commented on #96
still 503 error for me :(

[2019-03-22 21:56] ash121121 commented on #96
Working now mate :D :D :D

[2019-03-22 22:03] KyranRana commented on #96
Merged changes into master. Let me know if this issue pops up again.

[2019-03-22 22:03] #96 closed

[2019-03-22 22:04] KyranRana commented on #95
Update your master branch and try again. Let me know if any issues pop up. :)

[2019-03-22 22:05] KyranRana commented on #91
Update your master branch and try again. Let me know if you face any more 503s :)

[2019-03-23 00:08] RootC commented on #95
thank you so much bless. KyranRana 👍

[2019-03-23 06:11] neverknoww commented on #95
thank you very much

[2019-03-23 06:27] yylzcom commented on #95
@neverknoww Do you manage to get this work?

I am getting this errer message witht the example:
` Exceeded maximum number of retries at getting cookie "cf_clearance" `

The version is the latest one:  " a302f72  "

[2019-03-23 07:07] lilianorien commented on #95
Best script, thank you very much.

[2019-03-23 07:07] #95 closed

[2019-03-23 11:49] RootC opened #98 "Attention Required! | Cloudflare Please enable cookies"
Hello Dude

` <div id="cf-wrapper">
    <div class="cf-alert cf-alert-error cf-cookie-error"id="cookie-alert"data-translate="enable_cookies">Please enable cookies.</div>
    <div id="cf-error-details"class="cf-error-details-wrapper">
      <div class="cf-wrapper cf-header cf-error-overview">
        <h1data-translate="challenge_headline">One more step</h1>
        <h2class="cf-subheadline"><span d

[2019-03-23 11:54] KyranRana commented on #98
You need to use a proxy if that happens. Change your IP and let me know if that fixes the problem for you.

[2019-03-23 12:19] RootC commented on #98
`<?php
ini_set("display_errors","0");
header('Access-Control-Allow-Origin: *');
header("Content-type: application/json; charset=utf-8");

include 'src/autoload.php';

use CloudflareBypass\RequestMethod\CFCurl;
$curl_cf_wrapper = new CFCurl(array(
    'max_retries'   => 1,
    'cache'         => false,
    'cache_path'    => __DIR__ . '/cache',
    'verbose'       => false
));

$file 		= "cache/dat

[2019-03-23 12:27] KyranRana commented on #98
Cloudflare loves to blacklist a lot of the proxy ips, you need to keep trying :)

I've used my IP and it works fine. Have you tried your own IP?

[2019-03-23 12:30] snnyk commented on #91
Fatal error: Call to undefined method CloudflareBypass\RequestMethod\Stream::close() in E:\wamp\www\cloudflare\src\CloudflareBypass\CFBypasser.php on line 207

and no any returned content

[2019-03-23 12:30] RootC commented on #98
I bought 100 different IP addresses. I've tried it all, it doesn't work.

ASN is issuing the Forbidden cloudflare line.

and most of them please enable cookies. he's making his mistake.

[2019-03-23 12:35] RootC commented on #98
Before the update came, I was using a single IP address conveniently. now, unfortunately, he's making a mistake.

[2019-03-23 12:36] KyranRana commented on #91
Can you paste me the code which runs the file_get_contents stuff?

[2019-03-23 12:47] snnyk commented on #91
i just using test codes

On Sat, Mar 23, 2019 at 3:36 PM Kyran Rana <notifications@github.com> wrote:

[2019-03-23 12:53] yylzcom opened #99 "Exceeded maximum number of retries at getting cookie"
Hi,

After this update I got the errors like this:
`Exceeded maximum number of retries at getting cookie "cf_clearance". in /var/www/fetch/vendor/kyranrana/cloudflare-bypass/src/CloudflareBypass/CFBypasser.`

I tried my own code and the example code but all failed like above. Any suggestion or advice?

Best regards!

[2019-03-23 12:53] KyranRana commented on #91
Can you switch to the branch cloudflare-bypass-streamcontext-fix and try again? :)

Let me know if it works for you.

[2019-03-23 12:57] KyranRana commented on #99
Can you do me a favour? To debug this problem:

1. Open Incognito Google Chrome.
2. Right click and click inspect.
3. Click the network tab.
4. Tick the "preserve log" tick box.
5. Go to the site which is protected by CF page.
6. Click on the first row which pops up in the network tab.
7. Click on the response tab and copy the HTML here.

[2019-03-23 12:58] KyranRana commented on #98
Do you have teamviewer or join.me? Add me on telegram @CoolioPD

[2019-03-23 13:17] yylzcom commented on #99
Hi,

I try the url in the example code, wich is `https://predb.me/?search=720p`

The first row returns a 503 error and the respons tab is empty.

The second row is fav.ico, which I guess is not helpful.

The third row is the url, which the response tab is empty too:
`https://predb.me/cdn-cgi/l/chk_jschl?s=479eff159ca538229ecdaf88aa7d9d226f5de618-1553346714-1800-AfAyFC4wukaYIbhkPdQF1zeUJimVgSENMt7X

[2019-03-23 14:54] KyranRana commented on #99
Add me on telegram @CoolioPD and I'll help you debug this problem :)

[2019-03-23 14:58] #98 closed

[2019-03-23 18:15] snnyk commented on #91
yes its worked thx alot

[2019-03-23 20:18] #91 closed

[2019-03-24 10:49] yylzcom commented on #99
Thanks and the problem fix.

Close this issue for now.

[2019-03-24 10:50] #99 closed

[2019-03-28 17:45] chlind opened #102 "Fatal error: Unsupported operand types in CFBypass.php(231) : eval()'d code on line 1"
I also got this notice:
Use of undefined constant p - assumed 'p' in CFBypass.php(231) : eval()'d code on line 1
This error just happened, the code work perfectly a few hours ago.

[2019-03-28 17:49] neverknoww commented on #102
same here...

[2019-03-28 20:49] bert-w commented on #102
cloudflare changed the javascript gibberish code, take a look at this snippet:

[code]
we now need even more parsing in php...

I guess we need to look at a solution using V8js on PHP

[2019-03-28 20:52] bert-w commented on #102
For clarity, here's a new snippet of the gibberish code:
[code]

[2019-03-29 13:44] WAVDEVTEAM commented on #102
I also have the same mistake

[2019-03-30 09:56] KyranRana commented on #102
Yep. that's what I was getting as well. It looks like more work is required to pass this mess.

I'll take a look at see what I can do. It may be that V8JS may have to be implemented.

Or If I can find common JS patterns, could possibly do it manually.

[2019-03-30 14:38] ArabCoders commented on #102
@KyranRana it's seems the new changes hadn't rolled-out to all websites yet, one website where i use the package for still using old code. and it's working fine so far.

[2019-03-30 22:39] WAVDEVTEAM commented on #102
@KyranRana https://seriehd.tv this is one of the sites where I get the error

[2019-03-31 19:11] rdk01 opened #103 "Missing global namespace for class 'Exception' causing 'Class not found' exception"
Probably, a typo, but classes always resolve to the current namespace, so we need to use fully qualified name here:

https://github.com/KyranRana/cloudflare-bypass/blob/5fde39d4c3b9e4a9670747bacc9e18663818208e/src/CloudflareBypass/CFBypasser.php#L182

[2019-04-02 23:02] WAVDEVTEAM commented on #102
@KyranRana It doesn't even work with the link you provided https://predb.me/?search=720p

[2019-04-02 23:22] ArabCoders opened #104 "debug statement"
Hi

This code is causing the debug statement to echo's even when verbose_mode is set to false in ```$config```.

https://github.com/KyranRana/cloudflare-bypass/blob/5fde39d4c3b9e4a9670747bacc9e18663818208e/src/CloudflareBypass/CFBypasser.php#L230

I think isset should be followed by ```&& $config['verbose_mode']```

[2019-04-02 23:38] WAVDEVTEAM commented on #102
i cleaned code of cloudflare

`<html lang="en-US">
<head>
<script type="text/javascript">
  //<![CDATA[
  (function(){
    var a = function() {try{return !!window.addEventListener} catch(e) {return !1} },
    b = function(b, c) {a() ? document.addEventListener("DOMContentLoaded", b, c) : document.attachEvent("onreadystatechange", b)};
    b(function(){
      setTimeout(function(){
        var s,t,

[2019-04-02 23:43] WAVDEVTEAM commented on #102
I have cleaned code of cloudflare protection
[code]

[2019-04-03 10:11] #87 closed

[2019-04-03 23:41] cloudflarebypass commented on #102
Is there someone who can solve this problem please ?

Waiting and following this issue from 11 days ago now :(

Can we help on anything ?

[2019-04-04 09:27] WAVDEVTEAM commented on #102
@KyranRana Here is the decrypted cloudflare code
[code]

[2019-04-04 09:31] KyranRana commented on #102
I will try and take a look into this problem this weekend.

I am fully aware cloudflare-bypass has stopped working on some sites.

It's a big change so you will have to bare with me.

[2019-04-04 17:17] neverknoww commented on #102
Thank you very much, KyranRana

[2019-04-06 10:36] #104 closed

[2019-04-06 12:42] WAVDEVTEAM commented on #102
@KyranRana maybe I fixed the bug, but how to calculate it ((+!![]+[])+(!+[]+!![])) in php

[2019-04-07 01:59] #74 closed

[2019-04-08 20:32] WAVDEVTEAM commented on #102
@KyranRana i solved Unsupported operand types in CFBypass.php(231) : eval()'d code on line 1, i pulled in my account solution, i created a jsfuck decode

[2019-04-09 11:11] m-hume commented on #102
@WAVDEVTEAM your code needs fixing
`JSFUCK.php` has a bad php start tag
`CFBypass.php` has your modified class dumped in the middle of the original class

And it doesn't work with the current Cloudflare protection

[2019-04-09 15:02] WAVDEVTEAM commented on #102
The problem that the code works but the site rejects the request, obtaining "The site has rejected the connection"

[2019-04-10 20:54] lujadehi commented on #102
Problem not yet solved ?

@WAVDEVTEAM

Your solution work or not please ?

[2019-04-11 10:06] WAVDEVTEAM commented on #103
Change new Exception to new \ErrorException

[2019-04-11 21:44] neverknoww commented on #102
I have tried this code. It doesnt work

[2019-04-13 03:59] lilianorien opened #107 "Fatal error: Uncaught Error: Unsupported operand types in \src\CloudflareBypass\CFBypass.php(231)"
I have error:

Fatal error: Uncaught Error: Unsupported operand types in \src\CloudflareBypass\CFBypass.php(231) : eval()'d code:1 Stack trace: #0 \src\CloudflareBypass\CFBypass.php(231): eval() #1 \src\CloudflareBypass\CFBypass.php(127): CloudflareBypass\CFBypass::getJschlAnswer('<!DOCTYPE HTML>...') #2 \src\CloudflareBypass\CFBypasser.php(137): CloudflareBypass\CFBypass::bypass('<!DOCTYPE HTML>.

[2019-04-13 13:17] micahunder opened #108 "EVILGINX WITH CLOUDFLARE-BYPASS"
I was Testing Evilginx2, which is supposed to help me bypass 2FA on web servers by using the MITM proxy phishing attack.
I run the test on couple of web servers
I decided to try this project out with web servers using Cloud flare based JavaScript security to mitigate MITM proxy phishing techniques such Evilginx2.
Been facing problems for a while now.

This leaves my phishing domain hanging on clou

[2019-04-13 14:08] ash121121 commented on #108
I think the developer is aware of this issue and is working on a fix

[2019-04-15 21:32] Pedroxam opened #109 "clearance is founded / how to set this ?"
i figure this. thanks

[2019-04-18 19:35] vb6rocod opened #111 "solve jschl_answer but now I get "one more step" with captcha"
I solve jschl_answer, here is my code
https://github.com/vb6rocod/hddlinks/blob/master/cf.php
I'm 100% sure it's OK.
BUT when I try to get cf_clearance I get a page with "one more step" with captcha chalage.
[code]
I have no "captcha" when I try in browser. Using Live HTTP header I get this:

[code]
As you see  in header "location: /", maybe here is problem ???????

[2019-04-18 19:49] mariannegulici commented on #111
Add the following to CURL. This helped me avoid the CAPTCHA redirect.

[code]

[2019-04-19 06:59] vb6rocod commented on #111
Dont work.

[2019-04-19 10:12] prinze77 commented on #111
The cf challenge has been changed  and you need to change this part of code

challenge = challenge[1].replace(/a\.value = (.+ \+ t\.length).+/i, '$1') // delete `a.value = .`
                              .replace(/\s{3,}[a-z](?: = |\.).+/g, '') // delete all `t = document.createElement...`
                              .replace('t.length', '' + domain.length) // replace t.length with domain lengt

[2019-04-19 10:14] prinze77 commented on #102
The cf challenge has been changed and you need to change this part of code

challenge = challenge[1].replace(/a.value = (.+ + t.length).+/i, '$1') // delete a.value = .
.replace(/\s{3,}[a-z](?: = |.).+/g, '') // delete all t = document.createElement...
.replace('t.length', '' + domain.length) // replace t.length with domain length
.replace(/'; \d+'/g, '')
.replace(/[\n\']/g, '')
;

Right now it ge

[2019-04-19 10:16] prinze77 commented on #102
The cf challenge has been changed.
Right now it generates invalid js code

[2019-04-20 09:13] vb6rocod commented on #111
The problem is in first part:
I open in browser main link "https://tvhub.org/", then I copy page source and stop redirect (to stop generating cf_clearance).
I put content in a file "c2.txt" than I use this file to solve "challenge-form" and generate link:
[code]
c2.txt  (page source) is:

[code]
So, how to I get correct page contents ????

[2019-04-20 09:55] prinze77 commented on #111
You should pass the chanlange

  //<![CDATA[
  (function(){
    var a = function() {try{return !!window.addEventListener} catch(e) {return !1} },
    b = function(b, c) {a() ? document.addEventListener("DOMContentLoaded", b, c) : document.attachEvent("onreadystatechange", b)};
    b(function(){
      var a = document.getElementById('cf-content');a.style.display = 'block';
      setTimeout(function

[2019-04-20 09:58] prinze77 commented on #111
Please let me know if you do this, i need it also, but i dont have time to mess with this challenge

[2019-04-20 13:56] vb6rocod commented on #111
You dont read what I write!
[code]
I SOLVE challenge, see here
https://github.com/vb6rocod/hddlinks/blob/master/cf.php

The problem is here;
[code]
$h is "wrong", I also try with curl, same result.

[2019-04-21 07:21] vb6rocod commented on #111
I find solution.
[code]

[2019-04-21 08:30] vb6rocod commented on #111
complete solution

file cf.php

[code]
file cloudflare.php

[code]

[2019-04-21 15:50] prinze77 commented on #111
Yes, it work, i test it also on the site that i need it for.

Thank you very much for shearing your solution.

[2019-04-21 23:49] KyranRana commented on #111
v3 is coming soon. It will fix the problem but for now you can use the above solution :)

i will update this branch when I can. I apologise for the inconvenience.

[2019-04-23 21:07] MyNameIsPedram commented on #111
@vb6rocod Thank you bro. your codes works very well !

[2019-04-25 02:22] hkkdt1 commented on #111
@vb6rocod Thanks you for your working sharing code !!!

[2019-04-26 20:12] WAVDEVTEAM commented on #111
@vb6rocod asks me for CAPTCHA verification, how can I solve it?

[2019-04-27 07:40] vb6rocod commented on #111
I have the same situation after I make this code. Few days work, then nothing.
Working on windows with XAMPP php 5.6.39. Test on android with php 5.6.35, work.
I have an old distribution 4.2.20, test and work (?).
I donwload 5.6.9, extract php_curl.dll, replace in php 5.6.39 and now work.
Also test with php 7.3 (windows) and work.

[2019-04-27 11:11] Karmel0x commented on #108
Related to [this issue](https://github.com/Karmel0x/cloudflare-js-bypass/issues/2).

[2019-04-27 18:08] WAVDEVTEAM opened #113 "How long will it take? is the project likely to close?"
I need the new cloudflarebypass very urgently, how much time is left?

[2019-04-27 19:05] ash121121 commented on #113
I'm really in need too :)

[2019-04-28 09:24] WAVDEVTEAM commented on #111
@vb6rocod I have php 5.6.40 and does not work

[2019-04-28 10:39] MyNameIsPedram commented on #111
for me, work on php 5.64 , 7.0, 7.2, 7.3. xamp, wamp, linux, windows, and everything is good.

after you get cf_clearnce and __cfduid from c.txt, you most set this value to curl cookie, then reopen your site.

eg:
$cfduid = '';
$cf_cl = '';
 curl_setopt($ch, CURLOPT_COOKIE, '__cfduid='.$cfduid.'; cf_clearance='.$cf_cl.';');

[2019-04-28 14:40] WAVDEVTEAM commented on #111
```[](# Netscape HTTP Cookie File # http://curl.haxx.se/docs/http-cookies.html # This file was generated by libcurl! Edit at your own risk. #HttpOnly_.altadefinizione.cloud	TRUE	/	TRUE 1587998312	__cfduid	d7ba99e9c39dfb86fc8a1b6af3a135e2c1556462312)```

i not get cf_clarence

[2019-04-28 18:55] vb6rocod commented on #111
check curl version.
[code]
7.59.0 -->> not good (from php 5.6.39)
7.42.1 -->> good (from php 5.6.9)

[2019-04-28 23:52] MyNameIsPedram commented on #111
@WAVDEVTEAM Try following code:

[code]

[2019-04-29 08:36] vb6rocod commented on #111
It's so hard to change php_curl.dll ???

[2019-04-29 11:18] WAVDEVTEAM commented on #111
@MyNameIsPedram ```cfduid is: d5311166866de68ca8e4d22ad5100e7971556536651 cf_clearance is: cf_clearance Not Found !```

[2019-04-29 21:50] MyNameIsPedram commented on #111
Today, it does not work for me anymore.
I think Cloudflare has updated and this method no longer is work :(

[2019-04-29 21:57] MyNameIsPedram commented on #111
@WAVDEVTEAM open your target site with your browser + **https proxy**.
save the cfduid and cf_clearance in the notepad. then, write this value to your code, eg:
$cfuid = '';
$cf_cl  = '';
curl_setopt($ch, CURLOPT_COOKIE, '__cfduid='.$cfuid.'; cf_clearance='.$cf_cl.';');

also set proxy to curl (the same proxy that you set up in the browser):
$proxy_ip = '';
curl_setopt($ch, CURLOPT_PROXY, $proxy_i

[2019-04-30 07:20] vb6rocod commented on #111
THE <b>ONLY SOLUTION</b> IS TO CHANGE PHP_CURL.dll or CURL.SO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
The code work, I check other sites, (including altadefinizione.cloud) and is good.

[2019-04-30 07:20] #111 closed

[2019-05-02 09:58] prinze77 commented on #111
Today, it does not work for me anymore also.
 Cloudflare has updated and this method no longer is work

[2019-05-02 20:47] #113 closed

[2019-05-02 20:49] WAVDEVTEAM opened #114 "Cloudflare have changed the challenge"
this is new challenge code
[code]

[2019-05-02 21:04] prinze77 commented on #114
Check the solution here https://github.com/KyranRana/cloudflare-bypass/issues/111#issuecomment-487844501.

This grate guy writed the code to solve it

[2019-05-03 12:11] #114 closed

[2019-05-03 15:17] WAVDEVTEAM commented on #111
for https request not working, only http

[2019-05-03 15:25] prinze77 commented on #111
Thank you

[2019-05-03 18:09] WAVDEVTEAM opened #115 "return new code to br encoding"
this is my output
[code]
this is my code

cf.php
[code]
cloudflare.php
[code]

[2019-05-03 18:24] vb6rocod commented on #115
THIS IS NOT YOUR CODE.....
Replace
[code]
with
[code]
If still return "br"
add
[code]

[2019-05-04 10:02] WAVDEVTEAM commented on #115
@vb6rocod why does it take 20 or more seconds to load? can't you improve speed?

[2019-05-04 18:56] vb6rocod commented on #115
I check both links (https://alta-definizione.info/ and https://altadefinizione.cloud/)
On my PC take ~ 5-6 sec, so I don't know why takes so long on your's. I suggest to use https.
I also make small change in code
[code]

[2019-05-04 19:14] nitemare commented on #102
Where do we stand on this issue, do we have any fix on the way?

[2019-05-05 15:46] WAVDEVTEAM commented on #115
@vb6rocod i solved, but can't you do so as it was when the old cookie is loaded and doesn't always have to re-run the connection?

before with kyranrana it worked like this ...

[2019-05-06 17:21] prinze77 commented on #115
Broke again

[2019-05-06 17:57] WAVDEVTEAM commented on #115
@prinze77 this is a correct code

created by vbr6 and edited by me

cloudflare.php
[code]
<?php
function rr($js_code)
	{
	$js_code = str_replace(array(
		")+(",
		"![]",
		"!+[]",
		"[]"
	) , array(
		").(",
		"(!1)",
		"(!0)",
		"(0)"
	) , $js_code);
	return $js_code;
	}

function getClearanceLink($content, $url)
	{
	sleep(4);
	preg_match_all('/name="\w+" value="(.+?)"/', $content, $matches);
	$p

[2019-05-07 11:31] WAVDEVTEAM opened #116 "i found a solution for cloudflare"
This solution require min php 7.2, the first loading takes 3 seconds, future loading 0 seconds, since it reads the old cf_clarence and updates only the __cfuid

Make folder CloudflareRequest

cloudflare.php
[code]

cf.php
[code]

[2019-05-07 19:11] prinze77 commented on #116
Thank you man!
You are genius))

[2019-05-07 19:12] prinze77 commented on #116
I was expecting that it will be something like this, and i was trying to find it all day long))

[2019-05-08 01:09] momala454 commented on #116
thanks but instead of doing your own code, is it possible that you modify cloudflare-bypass to support the new cloudflare ?

[2019-05-08 06:40] hkkdt1 commented on #116
It's Working! Thanks for your hard works!

[2019-05-09 07:08] WAVDEVTEAM commented on #116
use http://yourdomain.com/cloudflare.php?linkf={LINK OF WEBSITE WITH CLOUDFLARE}

[2019-05-09 11:59] m-hume commented on #116
A great forward step @WAVDEVTEAM !
only seems to solve for http:// urls not https://

[2019-05-09 12:41] ash121121 commented on #116
@WAVDEVTEAM i did and thats the error im receieving

[2019-05-09 12:43] ash121121 commented on #116
One more step
Please complete the security check

im getting the capctha

[2019-05-09 16:33] WAVDEVTEAM commented on #116
you need php 5.6.9 or next versions

[2019-05-09 16:33] WAVDEVTEAM commented on #116
you need php 5.6.9 or next version...

[2019-05-09 16:34] ash121121 commented on #116
I have php 7

[2019-05-09 23:32] neverknoww commented on #116
This is working perfectly. Thank you very much WAVDEVTEAM!

[2019-05-10 10:35] WAVDEVTEAM commented on #116
@ash121121 try with 7.2

[2019-05-11 17:51] OnlyManu commented on #116
Please? explain how to use this script.

[2019-05-11 18:10] prinze77 commented on #116
How to contact you?

[2019-05-12 20:49] KyranRana commented on #116
Can you guys send me some protected cloudflare sites? I will need them as part of the testing I am going to do.

Appreciated :)

[2019-05-12 20:55] #109 closed

[2019-05-12 21:01] prinze77 commented on #116
https://csgoatse.com/
У меня там бот разносит рулетку в хлам

[2019-05-12 22:03] ash121121 commented on #116
https://www.digbt.org/
https://www.webconfs.com/

[2019-05-13 21:01] KyranRana commented on #116
Added those 2 to my unit tests. I've got 3 sample uam pages from https://csgoatse.com and https://www.digbt.org and all 6 tests pass. :)

Anyone else is welcome to post their site links. (not too many, limit to 10 more).

[2019-05-13 21:22] WAVDEVTEAM commented on #116
use http://yourdomain.com/cloudflare.php?linkf={LINK OF WEBSITE WITH CLOUDFLARE}

[2019-05-14 00:43] hkkdt1 commented on #116
https://subscene.com/

[2019-05-14 02:58] xing1943 commented on #116
https://animelek.com/

[2019-05-14 11:20] WAVDEVTEAM commented on #116
Sometimes why doesn't it load html? Do I get a blank page?

[2019-05-15 05:19] j0hnsn0w commented on #116
https://www.mkvcage.ws/

[2019-05-18 17:24] WAVDEVTEAM opened #117 "kyranrana when you find a solution for your library, more than 1 month has now passed"
please solve!!!!!!

[2019-05-19 19:09] KyranRana commented on #117
Sorry for taking so long. It's been hard for me to find time. I will work on getting it resolved as soon as I can. :(

[2019-05-19 19:09] #117 closed

[2019-05-20 05:57] trasigor commented on #116
https://medium.com/

[2019-05-29 12:44] WAVDEVTEAM commented on #116
@KyranRana you can add me to contributor?

[2019-06-03 09:39] m-hume commented on #116
@WAVDEVTEAM if you've got a "proper" solution!? Please fork the project and let us see what you have. cheers

[2019-06-03 09:50] ash121121 commented on #116
@KyranRana any update ? Kind regards

[2019-06-05 13:20] eoksum commented on #116
@WAVDEVTEAM How about POST requests? I think your code only solves GET requests.

[2019-06-05 20:30] KyranRana commented on #116
V3 Alpha will be coming 30th June or earlier. I've done an incredible amount of work to get this beast working. I'm sorry for not keeping you guys up to date, this solution has been tough to code. :)

[2019-06-07 12:01] ash121121 commented on #116
Thanks for the update :) @KyranRana

[2019-06-09 19:07] KyranRana commented on #102
V3 is coming soon. It will fix these problems. Release date will be close to the end of this month.

[2019-06-10 08:58] lr874355227 commented on #116
<!DOCTYPE html>

 <html class="no-js" lang="en-US">
<head>
<title>安全检查! | 百度云加速</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<link rel="styl

[2019-06-10 09:01] lr874355227 commented on #116
I got a return like this. Has anyone solved this problem

<!DOCTYPE html>

 <html class="no-js" lang="en-US">
<head>
<title>安全检查! | 百度云加速</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device

[2019-06-10 14:56] WAVDEVTEAM commented on #116
you need PHP 7.2 or higher

[2019-06-11 01:08] lr874355227 commented on #116
Your code is already working，This is the page that appears after bypassing cloudflare

[2019-06-11 01:11] lr874355227 commented on #116
my php is 7.2

[2019-06-11 09:55] lr874355227 commented on #116
I solved the problem, I found that your code is related to the curl version, better use the newer version, 7.29.0 is not

[2019-06-12 10:00] takkk commented on #116
Seems that the script it is not working. Still see the Cloudflare page. Using PHP 7.2.
Textfiles are generated correct on the webspace. No error message shown.
Did Cloudflare change anything?

[2019-06-12 10:02] lr874355227 commented on #116
The code works. I've succeeded

[2019-06-18 19:21] sinkaroid commented on #116
work on 5.6, my thanks sir

[2019-06-27 07:20] yylzcom commented on #116
@WAVDEVTEAM Can you please migrate it into current(KyranRana's) code?
Thanks and best regards!

[2019-07-02 14:47] risklife commented on #116
I have a problem now with the code, for example.

`

[code]

`

[2019-07-02 23:30] momala454 commented on #116
hi, i guess it wasn't earlier than 30 june, neither 30 june ? :)

[2019-07-10 20:16] WAVDEVTEAM opened #118 "KyranRana were are you???????"
Please update library!!

[2019-07-15 18:58] DrPaw opened #119 "Why do I have to complete a CAPTCHA?"
<title>Attention Required! | Cloudflare</title>
<meta name="captcha-bypass" id="captcha-bypass" />
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<lin

[2019-07-16 11:16] DrPaw commented on #119
Hey KyranRana Are you there. Help me pls :(

[2019-07-16 23:55] WAVDEVTEAM commented on #119
use http for requests

[2019-07-17 00:29] DrPaw commented on #119
I tried them all, but it didn't pass.

[2019-07-17 10:29] WAVDEVTEAM commented on #119
use my code for bypassing, you require min php 7.2

[2019-07-22 08:38] nxtsuki commented on #116
Do you solved by updating PHP or cURL?

[2019-07-23 03:15] lr874355227 commented on #116
updating cURL

[2019-07-23 09:10] xing1943 commented on #116
The code worked with http. thanks

[2019-07-23 22:56] ash121121 commented on #119
Im getting the same issue. im using php 7.3

[2019-07-31 07:38] tompicca opened #120 "Error 503"
Hi guys! I use streamcontext.php:
[code]
And I get this error:

```[2019-07-31 07:34:20][INFO] -> VERBOSE: ON [2019-07-31 07:34:21][INFO] -> CFStreamContext 1. handle checked and validated as protected. [2019-07-31 07:34:21][INFO] -> CFStreamContext 2. got cloudflare handle. [2019-07-31 07:34:21][INFO] -> CFStreamContext 3.1. (try: 0 first_attempt: 1) uam page requested with new cURL handle. reque

[2019-08-20 08:24] rajeshgozoom opened #121 "Verbose : ON"
I can only see verbose on message, can't see the data fetched through CURL

[2019-08-22 10:33] git-senor commented on #116
@WAVDEVTEAM I'm getting

`<br />
<b>Notice</b>:  Undefined offset: 1 in <b>/home/runcloud/webapps/app-sporer/CloudflareRequest/cloudflare.php</b> on line <b>10</b><br />
<br />
<b>Notice</b>:  Undefined offset: 1 in <b>/home/runcloud/webapps/app-sporer/CloudflareRequest/cloudflare.php</b> on line <b>11</b><br />
<br />
<b>Notice</b>:  Undefined offset: 1 in <b>/home/runcloud/webapps/app-sporer/Clo

[2019-08-25 19:10] KyranRana commented on #118
I'm here. I am working on the library but seem to be getting Captcha page every single time. I am debugging and trying to find out why.

[2019-08-31 13:53] KyranRana commented on #118
Library updated.

[2019-08-31 13:54] #118 closed

[2019-08-31 13:58] KyranRana commented on #107
Fixed in the new version v3.0.0

[2019-08-31 13:58] #107 closed

[2019-08-31 13:58] KyranRana commented on #119
Try the new version v3.0.0

[2019-08-31 13:58] #119 closed

[2019-08-31 13:59] KyranRana commented on #120
Try the new version v3.0.0

PHP 7.3 is required

[2019-08-31 13:59] #120 closed

[2019-08-31 13:59] #67 closed

[2019-08-31 13:59] KyranRana commented on #103
v3.0.0 out now.

[2019-08-31 13:59] #103 closed

[2019-08-31 14:00] KyranRana commented on #6
v3.0.0 out now

[2019-08-31 14:00] #6 closed

[2019-08-31 14:00] KyranRana commented on #81
v3.0.0 out now.

[2019-08-31 14:00] #81 closed

[2019-08-31 14:00] KyranRana commented on #61
v3.0.0 out now.

[2019-08-31 14:00] #61 closed

[2019-08-31 14:00] KyranRana commented on #68
v3.0.0 out now.

[2019-08-31 14:00] #68 closed

[2019-08-31 14:01] KyranRana commented on #69
v3.0.0 out now. Stream context support was scrapped. Will be coming as soon as cURL is tested though.

[2019-08-31 14:01] #69 closed

[2019-08-31 14:02] KyranRana commented on #108
Try with v3.0.0 and let me know what you get.

[2019-08-31 14:02] #108 closed

[2019-08-31 14:02] KyranRana commented on #102
Should be fixed with v3.0.0

[2019-08-31 14:02] #102 closed

[2019-08-31 14:03] #77 closed

[2019-08-31 14:03] KyranRana commented on #121
v3.0.0 is out now.

[2019-08-31 14:03] #121 closed

[2019-08-31 14:04] KyranRana commented on #116
v3.0.0 is out now.

[2019-08-31 14:04] #116 closed

[2019-08-31 22:23] ash121121 opened #122 "not working?"
Hey @KyranRana thanks for the update. When running your example, im just getting the "Just a moment page" and keeps looping this.

[2019-08-31 22:44] ash121121 commented on #122
`--> [UAM] 1. Set up copy of existing cURL handle with correct settings --> [UAM] 2. Requested UAM page: --> [UAM] 2. UAM Page	-> PCFET0NUWVBFIEhUTUw+CjxodG1sIGxhbmc9ImVuLVVTIj4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0iVVRGLTgiIC8+CiAgPG1ldGEgaHR0cC1lcXVpdj0iQ29udGVudC1UeXBlIiBjb250ZW50PSJ0ZXh0L2h0bWw7IGNoYXJzZXQ9VVRGLTgiIC8+CiAgPG1ldGEgaHR0cC1lcXVpdj0iWC1VQS1Db21wYXRpYmxlIiBjb250ZW50PSJJRT1FZGdlLGNocm9tZT

[2019-09-01 07:11] KyranRana commented on #122
It looks like you are running into the captcha page from seeing your logs.

I've fixed the captcha page detection in a branch called "bugfix/captcha-page-detection". Could you please pull it down, run the example script with verbose mode enabled, and paste the logs here?

Thanks

[2019-09-01 08:09] DrPaw opened #123 "Error log Help me."
[01-Sep-2019 07:59:38 UTC] PHP Fatal error:  Uncaught ErrorException: -->  [Captcha] ERROR. captcha page found. No implementation exists for this yet!
 in /home/betrost/public_html/src/CloudflareBypass/CaptchaPageImpl.php:16
Stack trace:
#0 /home/betrost/public_html/src/CloudflareBypass/CFCurlImpl.php(83): CloudflareBypass\CaptchaPageImpl->getClearanceUrl('--> ')
#1 /home/betrost/public_html/index

[2019-09-01 08:11] KyranRana commented on #123
Hi DrPaw. Which site are you requesting?

[2019-09-01 08:12] DrPaw commented on #123
`<?php
ini_set("display_errors","0");
header('Access-Control-Allow-Origin: *');
header("Content-type: application/json; charset=utf-8");

include 'src/autoload.php';

use CloudflareBypass\CFCurlImpl;
use CloudflareBypass\Model\UAMOptions;

$file 		= "cache/data.txt";
$ch = curl_init("https://www.ciprobet22.com");

/*curl_setopt($ch, CURLOPT_PROXY, '95.0.107.172:8080');*/

curl_setopt($ch, CURLOPT_

[2019-09-01 08:19] KyranRana commented on #123
That works for me, can you try pulling down the latest version of master and trying again?
Make sure you have verbose mode enabled. And paste all logs on a pastebin and link me to it.

[2019-09-01 08:26] DrPaw commented on #123
I installed the latest version and now I get this error.

you can look at this address.  http://betrost.com

[2019-09-01 08:32] KyranRana commented on #123
Hi DrPaw, run the php file through command line with `$cfOptions->setVerbose(true)` uncommented in the example file and send me the logs the script produces.

Paste it into a paste at http://pastebin.com

[2019-09-01 08:38] DrPaw commented on #123
Hi KyranRana as you said, it does not create a log file for me at the moment you can look at the address again.

http://betrost.com

[2019-09-01 08:39] DrPaw commented on #123
`<?php

include 'src/autoload.php';

use CloudflareBypass\CFCurlImpl;
use CloudflareBypass\Model\UAMOptions;

$ch = curl_init("https://www.ciprobet22.com");

// Want to cache clearance cookies ?
// curl_setopt($ch, CURLOPT_COOKIEJAR, "cookies.txt");
// curl_setopt($ch, CURLOPT_COOKIEFILE, "cookies.txt");

curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_USERAGENT, "Mozilla/

[2019-09-01 08:49] KyranRana commented on #123
What version of PHP is your server running?
What version of cURL is your server running?

What version of OpenSSL do you have installed on your server?

[2019-09-01 08:58] DrPaw commented on #123
Curl Version: 7.62.0
Php Version 7.2
OpenSSL/1.0.2k

[2019-09-01 09:09] KyranRana commented on #123
Also, are you sure you put the script above onto http://betrost.com ? You should see some logs if you did. Logs are added as echo statements so they should appear in the source code.

[2019-09-01 09:10] DjezusKryst opened #124 "Undefined offset: 1 (getSecondaryChallengeCodeFromPage)"
Hello,

When I'm trying to load a website with the code from the repo, the error "Undefined offset: 1" is returned on:
[code]

- Website: https://www.zone-telechargement.net/
- PHP version: 7.2
- Curl version: 7.52.1
- OpenSSL version: OpenSSL 1.1.1b 26 Feb 2019

Regards,

[2019-09-01 09:10] DrPaw commented on #123
Hi KyranRana I'll give you ftp information if you want to review there.

[2019-09-01 09:30] rama982 commented on #124
Seems it not support https yet

[2019-09-01 10:35] ash121121 commented on #122
@KyranRana  here is the log running from command line.

https://pastebin.com/ceDpH3wh

[code]
[code]

[2019-09-01 11:12] KyranRana commented on #122
Thank you. I'll investigate this.

[2019-09-01 11:12] KyranRana commented on #123
Sure that would be useful. I'll also try running the same script with your PHP version.

[2019-09-01 11:15] KyranRana commented on #124
Hi. Could you give me your verbose log output for the site you are trying to access?

This is the first release in a while so there will be issues. For me, I tested this library with HTTPS and it seems to work with HTTP2 for me. But everyone's scenario is different, so your logs will give me a better idea of what's going on.

It seems this undefined offset is related to TLS not being available fro

[2019-09-01 11:24] KyranRana commented on #124
UPDATE: My bad. Looks like this website is using the old version of Cloudflare which does not reference calculation code from a div element. I'll factor this into the challenge solving code.

[2019-09-01 12:15] DjezusKryst commented on #124
Alright, thanks for working on it!

[2019-09-01 16:55] momala454 opened #125 "could you make it compatible php 7.0 or help how to render it compatible ?"
thanks

[2019-09-01 20:53] KyranRana commented on #124
Updated master with a fix. Pull down the latest commit and let me know if it fixes your issues guys :)

[2019-09-01 22:12] KyranRana commented on #122
Looks like you are using IPv6 which is probably paying a part into why you are getting the captcha page. Could you force IPv4 resolution and see if that works?

[2019-09-01 22:24] ash121121 commented on #122
@KyranRana  tried that and the same issue. log is below

https://pastebin.com/njGQQhJY

I also noticed if I try to set an https link I get the log below about ciphers.

https://pastebin.com/FP7CkJye

[2019-09-02 01:18] filipemansano opened #128 "how use this on guzzle? [help]"
How would this script be implemented as a middleware in guzzle?

[2019-09-02 05:58] DrPaw commented on #123
It gives such an error after the last update.   Error log

`[02-Sep-2019 05:56:52 UTC] PHP Fatal error:  Uncaught ErrorException: -->  [Captcha] ERROR. captcha page found. No implementation exists for this yet!
 in /home/betrost/public_html/src/CloudflareBypass/CaptchaPageImpl.php:16
Stack trace:
#0 /home/betrost/public_html/src/CloudflareBypass/CFCurlImpl.php(83): CloudflareBypass\CaptchaPageImpl

[2019-09-02 08:50] DjezusKryst commented on #124
Hello,
I cloned the master branch, now this error is missing but another one come :

"Class 'SimpleJavaScriptCompilation\Model\Context' not found"

in:

[code]

I'm probably missing something, so I though that installing it with composer would install the dependancy, but there is another error:

[code]

(doesn't work even with --ignore-platform-reqs)

[2019-09-02 09:40] KyranRana commented on #124
Changed minimum supported PHP version to 7.2

Give it a go with the latest commit from master?

[2019-09-02 10:20] DjezusKryst commented on #124
Same issue, and if I use the following command:
`composer require --ignore-platform-reqs kyranrana/cloudflare-bypass:master`

I get the following error:
[code]

[2019-09-02 12:08] KyranRana commented on #124
What does your composer.json look like?

[2019-09-02 12:46] KyranRana commented on #122
Hi Ash

Can you also give me your version of OpenSSL? Type `openssl version`

[2019-09-02 13:41] DrPaw opened #129 "KyranRana Help Pls"
Error.log

`Stack trace:
#0 /home/betrost/public_html/src/CloudflareBypass/CFCurlImpl.php(83): CloudflareBypass\CaptchaPageImpl->getClearanceUrl('--> ')
#1 /home/betrost/public_html/index.php(29): CloudflareBypass\CFCurlImpl->exec(Resource id #3, Object(CloudflareBypass\Model\UAMOptions))
#2 {main}
  thrown in /home/betrost/public_html/src/CloudflareBypass/CaptchaPageImpl.php on line 16`

Website

[2019-09-02 14:03] KyranRana commented on #129
Use the ticket which you have open already. Don't create new ones.

[2019-09-02 14:03] #129 closed

[2019-09-02 14:27] DjezusKryst commented on #124
Thanks! Now everything seems to be ok! :)

[2019-09-02 14:40] KyranRana commented on #124
Awesome!

[2019-09-02 14:40] #124 closed

[2019-09-02 21:20] ash121121 commented on #122
@KyranRana OpenSSL 1.0.2k-fips  26 Jan 2017

[2019-09-02 22:11] ash121121 commented on #122
@KyranRana shall i update openssl?

[2019-09-04 09:51] momala454 commented on #125
hello, what feature is not available on php 7.0 ? thanks

[2019-09-04 19:48] KyranRana commented on #122
Update your OpenSSL to fix the cipher issue. As for you getting the captcha page, try again? :)

I've updated the master branch with a fix. So be sure to pull the latest version down.

[2019-09-04 19:49] KyranRana commented on #125
The master branch should now be compatible with PHP 7.0

Give the library a go :)

[2019-09-04 20:06] momala454 commented on #125
it is not working :(

Using version ^3.1 for kyranrana/cloudflare-bypass
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - myclabs/php-enum 1.7.2 requires php >=7.1 -> your PHP version (7.0.33) does not satisfy that requir

[2019-09-04 20:33] KyranRana commented on #125
Ok. Did not see that, could you update to php 7.1 ?

[2019-09-04 20:40] momala454 commented on #125
not really upgrade to 7.1, but php enum 1.6.6 is compatible with php 7.0

[2019-09-04 20:43] KyranRana commented on #125
Try with 3.1.1 and let me know if that works

[2019-09-04 20:46] ash121121 commented on #122
@KyranRana  What openssl version do you have ? And I'm using openlitespeed php . Would that make any difference ?

[2019-09-04 20:47] KyranRana commented on #122
I have OpenSSL 1.0.2k

[2019-09-04 20:51] ash121121 commented on #122
So I have the same openssl version as you. Shouldn't need to update should I?

[2019-09-04 20:52] KyranRana commented on #122
If you have OpenSSL 1.0.2k give the most recent version a go (v3.1.1) and see if it works.

[2019-09-04 21:04] momala454 commented on #125
composer still see version 3.1, how much time should i wait ?

[2019-09-04 21:04] KyranRana commented on #125
Try 3.1.1 now

It should be in packagist https://packagist.org/packages/kyranrana/cloudflare-bypass

[2019-09-04 21:06] momala454 commented on #125
composer require kyranrana/cloudflare-bypass
still says "using version 3.1"

[2019-09-04 21:12] KyranRana commented on #125
Try compose require kyranrana/cloudflare-bypass@3.1.1

[2019-09-04 21:13] momala454 commented on #125
[InvalidArgumentException]
  Could not find package kyranrana/cloudflare-bypass@3.1.1 at any version for your minimum-stability (stable). Check the package spelling or your minimum-stability

[2019-09-04 21:29] KyranRana commented on #125
Try pulling down the latest version of master and try running it

[2019-09-04 21:37] momala454 commented on #125
sorry what do you mean, downloading manually the zip ?

[2019-09-04 21:38] momala454 commented on #125
i have never installed the app so if i i manually download the zip i will have to include all the php files manually

[2019-09-04 21:50] ash121121 commented on #122
@KyranRana Working now for predb but i cant get it to work for https sites

[2019-09-04 22:08] ash121121 commented on #122
@KyranRana seems i can only get it to work for predb . i tried eztv.io and www.mkvcage.com and doesnt work

[2019-09-04 22:30] ash121121 commented on #122
Maybe the issue is that for sites that have always https enabled in cloudflare. So your code is solving the  IUAM in http and then the site redirects to https and then fails there?

[2019-09-05 00:58] momala454 commented on #125
Problem 1
    - kyranrana/simple-javascript-compilation 0.2.3 requires krowinski/bcmath-extended ^5.1 -> satisfiable by krowinski/bcmath-extended[5.1.0].
    - kyranrana/cloudflare-bypass 3.1.0 requires myclabs/php-enum ^1.7 -> satisfiable by myclabs/php-enum[1.7.0, 1.7.1, 1.7.2].
    - krowinski/bcmath-extended 5.1.0 requires php >=7.1 -> your PHP version (7.0.33) does not satisfy that requiremen

[2019-09-05 01:09] momala454 commented on #125
the command is actually composer require kyranrana/cloudflare-bypass:3.1.1 (not @)

but now :
Problem 1
    - krowinski/bcmath-extended 5.1.0 requires php >=7.1 -> your PHP version (7.0.33) does not satisfy that requirement.
    - kyranrana/cloudflare-bypass 3.1.1 requires kyranrana/simple-javascript-compilation ^0.2.3 -> satisfiable by kyranrana/simple-javascript-compilation[0.2.3].
    - kyranra

[2019-09-05 07:33] devilus opened #131 "Fatal error with CURLOPT_RETURNTRANSFER and redirects loop"
Hello.

$ch = curl_init("https://multiup.org/download/558fe4e4b9714aae1fd1fdcff3f24b55/_xZ__Grand_Blue_-_10__EFFA84D3_.mp4");

curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_USERAGENT, "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36");

$cfCurl = new CFCurlImpl();

$cfOptions = new UAMOptions();
$c

[2019-09-05 18:15] KyranRana commented on #125
Try with 3.1.2 when you are available

[2019-09-05 18:16] KyranRana commented on #131
What version of PHP are you using?
What version of cURL are you using?

[2019-09-05 18:16] KyranRana commented on #122
Can you give me your verbose log?

[2019-09-05 18:24] devilus commented on #131
PHP 7.2.21
curl 7.65.3 (x86_64-redhat-linux-gnu) libcurl/7.65.3 NSS/3.36 zlib/1.2.7 libpsl/0.7.0 (+libicu/50.1.2) libssh2/1.9.0 nghttp2/1.31.1

[2019-09-05 19:33] KyranRana commented on #131
Could you just do a simple cURL request to the page and give me the page source code in a pastebin?

[2019-09-05 19:42] momala454 commented on #125
it installs but don't work :

PHP Parse error:  syntax error, unexpected 'const' (T_CONST), expecting variable (T_VARIABLE) in CloudflareBypass/vendor/kyranrana/simple-javascript-compilation/src/main/Enum/DataType.php on line 27

[2019-09-05 19:45] KyranRana commented on #125
You need to update your PHP version to 7.1 at least. Sorry.

[2019-09-05 19:45] momala454 commented on #125
just remove private in front of "const" of your variable and it's compatible 7.0

[2019-09-05 19:52] momala454 commented on #125
i removed the "private" from a few of variables and now when i try to navigate on a website using cloudflare always on, it fails on this fonction

 public static function getParamsFromPage(UAMPageAttributes $pageAttributes): UAMPageFormParams
    {
        $page = $pageAttributes->getPage();

        preg_match('/name="s" value="([^"]+)"/', $page, $sMatches);
        preg_match('/name="jschl_vc" v

[2019-09-05 19:54] momala454 commented on #125
to give more details, it first have the data, and then when i try to do a second request it shows the error with the text "blocked" from the website

[2019-09-05 19:57] KyranRana commented on #125
What is the version of PHP you are using?
What is the version of cURL you are using?

[2019-09-05 19:59] momala454 commented on #125
PHP 7.0.33-0+deb9u3
curl 7.52.1

i'm browsing https://www.extreme-down.xyz/rss.xml?1241878191

it seems like it's not solving :

$cfCurl = new CloudflareBypass\CFCurlImpl();

						$cfOptions = new CloudflareBypass\Model\UAMOptions();
						// $cfOptions->setVerbose(true);                        // Enable verbose
						// $cfOptions->setDelay(5);                             // Set delay before req

[2019-09-05 20:39] KyranRana commented on #125
Tried with your PHP version and it worked. Can you post your verbose log? Also try with 3.1.4

[2019-09-05 21:02] momala454 commented on #125
there is something wrong with the user agent.

This is what i'm sending :
GET /rss.xml?2067415447 HTTP/1.1
Host: www.extreme-down.xyz
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:54.0) Gecko/20100101 Firefox/54.0
Accept: */*
Accept-Language: *
Accept-Encoding: deflate, gzip
Connection: Keep-Alive

and this is what you send
GET /rss.xml?741195160 HTTP/1.1
Host: www.extreme-down.xyz
Acce

[2019-09-05 21:04] momala454 commented on #125
[code]

you are exploding the headers with ":" so you are ignoring everything after any ":" on the header value

[2019-09-05 21:10] KyranRana commented on #125
Nice spot! Fixed in 3.1.5

[2019-09-05 21:27] momala454 commented on #125
so on $cfCurl->exec($ch, $cfOptions);
it works, it return the correct data.
However, as soon as i do a second request to the same page, i have

PHP Notice:  Undefined offset: 1 in /CloudflareBypass/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormParams.php on line 35

Notice: Undefined offset: 1 in /CloudflareBypass/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageForm

[2019-09-05 21:29] momala454 commented on #125
GET /cdn-cgi/l/chk_jschl?s=6bd41c2e20b088087bbe70f55aca94cbabf49b38-1567718909-1800-AXb%2Bd3rgMM2ATQ3AmWRcqGar0nYJYgIXbYAqx7t98BeNr8lckP1I%2FZMMh2Ft0dzstkaOx%2BYMKKawJcunRX%2BpzbZguw4AKR3AbXdvgASkwN207Ez12f8oriyui%2FjP0A%2BfcEDtZ4kQN%2FzjIdm7Am5CdHE%3D&jschl_vc=d3ee59a14590974398d51be23d20ed12&pass=1567718913.524-kqQ%2BXktrMs&jschl_answer=16.7363076909 HTTP/1.1
Host: www.extreme-down.xyz
Accept-En

[2019-09-05 21:31] momala454 commented on #125
$value      = substr($requestHeader, $colonPos);

maybe put
$value      = substr($requestHeader, $colonPos +1);

[2019-09-06 02:51] devilus commented on #131
https://pastebin.com/J08s2gPj
https://pastebin.com/HncHEzkJ

[2019-09-06 19:08] KyranRana commented on #125
Fixed. Try 3.2.1

[2019-09-06 21:00] momala454 commented on #125
it works thanks :)

[2019-09-06 21:00] #125 closed

[2019-09-06 21:14] DrPaw commented on #125
hey momala454 Dude, I can't get access to this site.can you help me?

www.ciprobet23.com I want to access this site, but I'm getting an error on my own server.

my server web site: betrost.com

[2019-09-06 22:51] momala454 commented on #125
drpaw it doesn't work for me neither, i direclty have a captcha using a server ip

[2019-09-07 17:34] KyranRana commented on #122
Fixed.

[2019-09-07 17:34] #122 closed

[2019-09-08 05:21] yumedia opened #132 "Which minimum php version this script support and can it use crontab to run ?"
I have two questions:
1. Which "minimum" php version to run this script?
2. After setup this script to my PHP file, can I use crontab to auto run this PHP file to curl with the time I want on Linux server ( Centos 6/7 version ) ?

Thank you for great script and support!

[2019-09-08 17:19] WAVDEVTEAM opened #133 "Where are autoload.php?"
I downloaded the code via GIT, but I can't find autoload.php, I can't load the libraries accordingly

[code]

[2019-09-08 18:00] ash121121 commented on #133
Install composer and run composer install

[2019-09-08 19:01] KyranRana commented on #132
PHP 7

You should be able to. There are some further updates coming up to attempt to fix the header order. The new version of cloudflare is a bit anal about the order which headers are sent during validation. So I need to do some more refactoring to ensure that is accounted for.

[2019-09-08 20:57] momala454 commented on #132
i just got this warning, just once.

PHP Warning:  usleep(): Number of microseconds must be greater than or equal to 0 in /CloudflareBypass/vendor/kyranrana/cloudflare-bypass/src/main/CFCurlImpl.php on line 200

[2019-09-09 14:06] snout opened #134 "'CloudflareBypass\CFCurlImpl' not found"
I'm trying the example, after having used composer to install. Php newbie, totally.

$ php7.0 curlbypass    # [which is the main README.md example]
PHP Fatal error:  Uncaught Error: Class 'CloudflareBypass\CFCurlImpl' not found in /var/tmp/curlbypass:18
Stack trace:
#0 {main}
  thrown in /var/tmp/curlbypass on line 18

PHP 7.0+49 debian  "7.0.33-0+deb9u3"
libcurl3 7.52.1-5+deb9u9
openssl 1.1.0j-1~

[2019-09-09 15:11] #133 closed

[2019-09-11 10:59] WAVDEVTEAM commented on #134
Fatal error: Uncaught Error: Class 'CloudflareBypass\CFCurlImpl' not found , idm, I get the same error, I installed everything with composer

[2019-09-11 11:00] ash121121 commented on #134
Try setting the full path to the autoload.php file?

[2019-09-11 13:01] WAVDEVTEAM commented on #134
what do you mean? The autoload finds it for me

[2019-09-11 13:08] snout commented on #134
Also and uuh, since this is the first time ever I've even used composer (whatever it's really for), where _do_ I find the files such as autoload and tell the main program to use it?

(Meanwhile I found cfscrape that does what I want - connect site, wait out the CF timer in im-under-attack-mode, hands back cookie and user-agent string for reuse in cURL, wget or any other non-CF-aware program.)

[2019-09-11 14:47] WAVDEVTEAM opened #135 "I have error with captcha"
I get this error!
Unknown error -> --> [Captcha] ERROR. captcha page found. No implementation exists for this yet!

link is
https://seriehd.zone/

[2019-09-13 13:23] WAVDEVTEAM commented on #134
You must first create a folder on your server, then install the Kyranrana library using composer, then restart apache, then download the extension created by kyranrana from github and take all the files contained in the scr / main folder, and put them in the folder that you had previously created to install composer and then restart apache again

[2019-09-13 13:29] ash121121 commented on #134
So much effort. All I do is download the zip and upload to a folder. CD to the folder containing the .json file and run "composer install" and its done

[2019-09-13 13:43] snout commented on #134
Ohgod. >.< I don't even have apache installed, just a lighttpd for basic serving needs. This is growing way too big to be worth it for me. :p

[2019-09-13 13:43] #134 closed

[2019-09-13 15:57] ash121121 commented on #134
Its actually alot simpler than wavdevteam is making out.  Don't be put off contact me and I'll help you

[2019-09-13 16:05] snout commented on #134
Thanks but nah- cfscraper already does the job for me.

[2019-09-13 16:25] ash121121 commented on #134
Yeah php isn't really the framework for this job.

[2019-09-14 13:41] yumedia opened #136 "Done!"
Done!

[2019-09-14 13:41] #132 closed

[2019-09-14 13:45] #136 closed

[2019-09-14 13:59] yumedia opened #137 "where is cookies.txt locate?"
I saw it, thank you !

[2019-09-14 14:02] #137 closed

[2019-09-15 02:37] yumedia opened #138 "Notice: Undefined index: request_header in \src\main\CFCurlImpl.php on line 92"
Sometimes I got this error

Notice: Undefined index: request_header in \src\main\CFCurlImpl.php on line 92

[2019-09-15 09:03] KyranRana commented on #138
You need to set CURLINFO_HEADER_OUT to true when requesting the webpage. That is one of the prerequisites when using cURL.

[2019-09-15 17:46] WAVDEVTEAM commented on #138
Kyranrana you can help me?

[2019-09-16 01:07] yumedia commented on #138
I'm also get these error:

Notice: Undefined offset: 1 in C:\xampp\htdocs\cloudflare-bypass-master\src\main\Model\UAM\UAMPageFormParams.php on line 35

Notice: Undefined offset: 1 in C:\xampp\htdocs\cloudflare-bypass-master\src\main\Model\UAM\UAMPageChallengeCode.php on line 53

[2019-09-17 21:59] KyranRana commented on #135
Try with version 3.3.0 ? And try with the new example code.

[2019-09-17 21:59] KyranRana commented on #138
Try with version 3.3.0 ?

[2019-09-17 21:59] KyranRana commented on #131
Try with version 3.3.0 ?

[2019-09-17 21:59] KyranRana commented on #123
Try with version 3.3.0 ?

[2019-09-21 07:33] KyranRana commented on #138
Closed due to inactivity.

[2019-09-21 07:33] KyranRana commented on #135
Closed due to inactivity.

[2019-09-21 07:33] #135 closed

[2019-09-21 07:34] KyranRana commented on #123
Closed due to inactivity.

[2019-09-21 07:34] #123 closed

[2019-09-21 07:34] KyranRana commented on #131
Closed due to inactivity.

[2019-09-21 07:34] #131 closed

[2019-09-21 07:35] KyranRana commented on #128
This has been implemented by jaymoulin so I'll close this.

[2019-09-21 07:35] #128 closed

[2019-09-23 10:27] WAVDEVTEAM commented on #135
I have new version Kyranrana

[2019-09-25 21:05] nimah79 commented on #138
Still have this issue:
Undefined index: request_header in src/main/CFCurlImpl.php on line 117

[2019-09-26 03:20] yumedia commented on #138
If use curl_setopt($ch, CURLOPT_COOKIEJAR, "cookies.txt"); and curl_setopt($ch, CURLOPT_COOKIEFILE, "cookies.txt"); still get

Notice: Undefined offset: 1 in \src\main\Model\UAM\UAMPageFormParams.php on line 35

Notice: Undefined offset: 1 in \src\main\Model\UAM\UAMPageChallengeCode.php on line 53

[2019-09-27 09:28] KyranRana commented on #138
Can you give me the full code you are using to perform the request?

[2019-10-02 11:43] momala454 opened #140 "PHP Notice: Undefined offset: 1 in /home/www/common/CloudflareBypass/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormParams.php on line 36"
hello i had the following errors.
I am running the script very often but this happens sometimes (rarely).

So apparently the page is not showing the expected data, i don't know what what displayed, maybe you could add some code that detect it and log infos to know what was the data ?

PHP Notice:  Undefined offset: 1 in /home/www/common/CloudflareBypass/vendor/kyranrana/cloudflare-bypass/src/main/

[2019-10-10 12:01] devilus commented on #131
All the same with 3.3.0

[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params...
Notice: Undefined offset: 1 in /var/www/site.com/lib/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormParams.php on line 36

Notice: Undefined offset: 1 in /var/www/site.com/lib/vendor/kyranrana/cloudflare-bypass/s

[2019-10-10 12:23] momala454 commented on #131
i opened another issue i had the same problem, but for me it was very rare
https://github.com/KyranRana/cloudflare-bypass/issues/140

does it happens every time for you ?

[2019-11-15 13:51] daguruman opened #141 "Bypass working on 7.2.7 but not on 7.2.24"
Hi,

is ist PHP-Version Problem or because of settings?
i get this error:

[INFO] UAM (retry: 0) -> applying HTTPS settings
[INFO] UAM (retry: 0) -> waiting for 5 seconds!
[INFO] UAM (retry: 0) -> getting form params...
PHP Fatal error:  Uncaught Error: Call to a member function getDataType() on null in /root/soft/httpdocs/cbypass/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormPa

[2019-11-19 09:50] Sarfroz opened #142 "not woking with cookies"
i tried to pass custom cookies using

[code]
but it keeps loading. I just want to know that if I have a logged cookie of a website how can i pass it along with Cloudflare cookies.

[2019-11-19 10:15] #142 closed

[2019-11-22 05:24] alloweb34 opened #143 "Last version not work"
Hello,

I was already using the old version of your script and it worked well but unfortunately it has stopped working since yesterday.
but the new version does not want to work.

[22-Nov-2019 05:16:05 UTC] PHP Fatal error:  Uncaught Error: Call to a member function getDataType() on null in /home/clickabc/public_html/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormParams.php:60
St

[2019-11-23 08:53] Sarfroz opened #144 "type hint error"
Getting following error
`Fatal error: Default value for parameters with a class type hint can only be NULL in /vendor/kyranrana/cloudflare-bypass/src/main/CFCurlImpl.php on line 84`

[2019-11-23 09:01] #144 closed

[2019-11-25 16:04] fullsharez opened #145 "error Fatal error: Uncaught Error: Class 'SimpleJavaScriptCompilation\Model\Context' not found"
hi i error for code "Fatal error: Uncaught Error: Class 'SimpleJavaScriptCompilation\Model\Context' not found" I followed everything I installed dial already at the beginning I thought that all the pages were in the github archiver but I still have this error I copy the file a bit everywhere nothing to do could you do an archiving of all pages please because for those who do not understand everyth

[2019-11-26 16:19] momala454 opened #146 "no s parameter but r"
[code]

causes
<b>Notice</b>:  Undefined offset: 1 in <b>/CloudflareBypass/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormParams.php</b> on line <b>40</b><br />
<br />
<b>Fatal error</b>:  Uncaught TypeError: Argument 1 passed to CloudflareBypass\Model\UAM\UAMPageFormParams::__construct() must be of the type string, null given, called in /CloudflareBypass/vendor/kyranrana/cloudfl

[2019-11-26 17:50] fullsharez commented on #146
yes the same it does not work anymore

[2019-11-26 17:50] #145 closed

[2019-11-26 19:11] ArabCoders commented on #146
Indeed it started to happen few hours ago, no longer works.

[2019-11-26 19:54] fullsharez commented on #146
someone found the solution?

[2019-11-26 19:58] momala454 commented on #146
i think it may have been tested previously randomly by cloudflare as i had the same kind of error a month ago :
https://github.com/KyranRana/cloudflare-bypass/issues/140

[2019-11-27 06:12] ArabCoders commented on #146
it seems this patch has the new working version for node https://github.com/codemanki/cloudscraper/pull/287/files

sadly im at work and unable to test it

[2019-11-27 11:58] bert-w commented on #146
if you look at the form closely, it now also uses a POST request instead of a GET. I think maintaining this package is going to be a pain since PHP is not meant to deal with javascript. Cloudflare will keep changing this protection page in the future. The best solution is to use an actual javascript solution to solve the challenge (like V8Js PHP extension or setup your own Node.js server).

Or imp

[2019-11-27 12:00] neverknoww commented on #116
@WAVDEVTEAM hello, have been using your version and its prefect and simple. cloudflare just updated their code again. Do you have the latest update for your script?

thank you very much.

[2019-11-27 14:05] ArabCoders commented on #146
indeed i was thinking of using headless chrome, but right now i am content to just use this package as middleware for guzzle, i only have problem with one side.

[2019-11-27 18:44] hunter-and1 opened #148 "problem getDataType() on null"
i test new update in master (2019-11-27) and dont working for me

![image](https://user-images.githubusercontent.com/15271465/69750867-18d5af80-114e-11ea-9d9a-918d171bed69.png)

[2019-11-28 02:00] drps commented on #148
could you provide us with the code from cloudflare you are trying to parse?

[2019-11-28 07:36] ArabCoders commented on #146
thanks to the contributors it seems to be working now again, to start using it before the version is tagged you could just require this

[code]

in your composer.json

[2019-11-28 09:10] foremtehan commented on #148
Same here, I created index.php in root folder and here is the codes:

[code]

[2019-11-28 11:10] neverknoww commented on #148
same problem. please help. thank you very much.

[2019-11-28 15:43] neverknoww commented on #148
thank you so much. working perfectly now.

[2019-11-28 16:05] Sarfroz opened #150 "not work with php 5.6"
hi , how can we solve this issue ?? Can you make it compatible with PHP 5.6 and what else are the requirements to run this code? I tried on digital ocean centos 7 but it was not working at all.

[2019-11-28 16:21] Sarfroz commented on #150
`Notice: Undefined index: request_header in /var/www/html/vendor/kyranrana/cloudflare-bypass/src/main/CFCurlImpl.php on line 117

Fatal error: Uncaught TypeError: Argument 1 passed to CloudflareBypass\CFCurlImpl::checkForCorrectHeaders() must be of the type string, null given, called in /var/www/html/vendor/kyranrana/cloudflare-bypass/src/main/CFCurlImpl.php on line 117 and defined in /var/www/htm

[2019-11-28 16:38] #148 closed

[2019-11-29 05:42] yylzcom opened #151 "Any example? I got the cloudflare redirect page content"
When I run the code on the README page, I got the CloudFlare redirect page content, any help would be highly appreciated.

[2019-11-29 06:04] drps commented on #151
it seems you are using 3.3.0 version of the package, if so you should use updated version from last commit or wait for a new release

[2019-11-29 06:07] yylzcom commented on #151
@drps  Thank you! I will clone from github and try again.

[2019-11-29 21:27] jokecup opened #152 "I have error getDataType() on null in master (2019-11-28)"
![20191130_042245](https://user-images.githubusercontent.com/9822139/69890638-6c502500-1329-11ea-9244-fedf7ee39996.jpg)

[2019-11-30 06:14] drps commented on #152
[CFCurlTest.php](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/Example/CFCurlTest.php) is works for me for https://predb.me/?search=720p

can you show cloudflare page content which causes this error?

[2019-11-30 07:07] jokecup commented on #152
https://jsfiddle.net/wpcam782/

[2019-11-30 09:35] dimkar121 opened #153 "the script runs endlessly"
Hello, the script runs endlessly providing no results.
I attach a screenshot

[INFO] UAM (retry: 0) -> applying HTTPS settings
[INFO] UAM (retry: 0) -> waiting for 5 seconds!
[INFO] UAM (retry: 0) -> getting form params...
[INFO] UAM (retry: 0) -> (r param: 0760bd7430b6044a4dd3534fd8a08aa56e46884d-1575106500-0-Ae419L7TDsQXjCBWru3aUYkKmT3E2cjvo23NO0Sc15dvn1uluIn7MZF1jD9iu3i1ag6I2JS1q+7ACm5dWtBnwfxG

[2019-12-01 22:14] momala454 commented on #146
[code]

this is a very weak detection of input tags, and it doesn't work with "r" parameter

[2019-12-02 01:40] momala454 commented on #146
a suggestion, cloudflare use this header:
server: cloudflare

so you could use this and the http code 503 to detect cloudflare

[2019-12-02 07:06] zikju commented on #151
Same problem to me.
I'm using latest version of this package and getting cloudflare redirect page.
Any help?

[2019-12-02 11:18] drps commented on #153
can you show cloudflare page content which causes this error?

[2019-12-02 11:19] drps commented on #151
can you show logs and/or cloudflare page content which causes this error?

[2019-12-02 11:24] zikju commented on #151
@drps I rolled back package version to this commit:
https://github.com/KyranRana/cloudflare-bypass/tree/4e7a6f57df9884e450e7e02ef067425cc1f8801d
And now its working fine. I believe problem was with "r" input.

[2019-12-02 11:26] dimkar121 commented on #153
It's a classic cloudflare page that counts for 5 seconds, nothing particular

[2019-12-02 11:31] dimkar121 commented on #153
I can send the url in private

[2019-12-02 11:48] drps commented on #152
i dont know why but for some reason your script puts empty string to `UAMPageAttributes` constructor as a page content [here](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/CFCurlImpl.php#L146)

does [curl_exec](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/CFCurlImpl.php#L139) works as expected?

[2019-12-02 12:23] drps commented on #153
you can check whether [$this->uamPage->getClearanceUrl($pageAttributes)](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/CFCurlImpl.php#L154) corresponds to form's action from cloudflare page

you can pm me via email from my profile's page

[2019-12-02 16:04] jokecup commented on #152
I try change [here](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/CFCurlImpl.php#L128) to
curl_setopt($curlHandle, CURLOPT_SSLVERSION, 4);
it works for me

[2019-12-02 21:10] kormoranmen opened #154 "Script error - return [ERROR] UAM (retry: 0) -> clearance cookie missing! Unknown error -> CF clearance could not be found"
Hi,

i use example with this page: http://alltube.tv/

but when i execute code i get error like in subject.
Try to set cookie, delay - nothing work.

Debug data:
`[INFO] UAM (retry: 0) -> waiting for 10 seconds! [INFO] UAM (retry: 0) -> getting form params... [INFO] UAM (retry: 0) -> (r param: 5fb9d377a4ffbc8455c260fe51b6b152ccf599f1-1575320911-0-AZw+597QLuV9Hm+m0HeFaE9ZpcmAAx3swrdjPq5tKZ9OWUL5kJy

[2019-12-04 13:06] WAVDEVTEAM opened #155 "Not working for any website"
Not working for https://seriehd.moda or https://piratestreaming.surf/, i have latest version of code

[2019-12-04 13:33] drps commented on #155
the first one is protected with captcha for me.
but test is successfull for the second one, you can view my output here https://pastebin.com/XJ93iNMe

[2019-12-04 16:57] WAVDEVTEAM commented on #155
yes, but don't return the HTML page to me

[2019-12-04 18:51] laxity7 commented on #155
download the archive and update a whole code, it should work

[2019-12-11 14:30] ThisIsMohsen opened #156 "not working"
hi,
i add your library to my project and used your code in ReadMe but not working.
i echo $page and $cookies variable at the end but noting happened.
https://prnt.sc/q9ddpq

[2019-12-12 11:12] drps commented on #156
can you run the script from readme as is and show its output?

it should looks like that (line 25 and below)
https://pastebin.com/XJ93iNMe

[2019-12-16 17:54] gergokee commented on #154
I also have this error message for some sites such as "predb.me"

For other sites it runs endlessly, so script is definitely broken :/

[2019-12-17 17:45] jaymoulin opened #157 "Suggestions: Create stable release with tags/release"
Hey Kyran, Thank you very much for your work.

Can you please follow those recommendation for further updates:
 - Create a tag (https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags) every time you make a release (i.e merging PR/substantial commit to master...). By doing this, this allow users to have a stable version of your code (easier to reproduce bug and identify responsible revis

[2019-12-18 09:21] vvpgrp commented on #155
@WAVDEVTEAM
Try this commit:
[https://github.com/KyranRana/cloudflare-bypass/tree/4e7a6f57df9884e450e7e02ef067425cc1f8801d](https://github.com/KyranRana/cloudflare-bypass/tree/4e7a6f57df9884e450e7e02ef067425cc1f8801d)

[2019-12-18 13:38] gergokee opened #158 "[ERROR] UAM (retry: 0) -> clearance cookie missing! Unknown error -> CF clearance could not be found!"
For example for predb.me, for other sites, it is just running forever. So current version (i have latest updated files) is not working.

[2019-12-24 05:39] omersezgin43 opened #159 "No run"
Please check not run

[2019-12-30 01:58] cristophermr opened #160 "Return CloudFlare HTML"
Hi,

The script return the cloudflare HTML, don´t work, please help me thanks !

[2020-01-04 12:14] foremtehan opened #161 "It works on terminal but not on web request"
When i runs the `php myscript.php` in the terminal it return the content but when i do get request from the browser it says:

[2020-01-07 15:41] AlexandrKane commented on #160
Hello, i have the same problem, please help

[2020-01-12 12:11] momala454 opened #162 "error 403 and Call to a member function getDataType() on null"
Hello,
when scrapping this url
https://www.extreme-down.xyz/rss.xml
which redirect to
https://www.extreme-down.ninja/rss.xml
it doesn't work

[INFO] UAM (retry: 0) -> applying HTTPS settings
[INFO] UAM (retry: 0) -> waiting for 5 seconds!
[INFO] UAM (retry: 0) -> getting form params...
[INFO] UAM (retry: 0) -> (r param: 3f8.........lb)
[INFO] UAM (retry: 0) -> (jschl_vc param: 728e75.....756f7a134

[2020-02-01 12:19] Vmadmax commented on #142
@Sarfroz How did you get it to work?

[2020-02-01 12:22] fullsharez commented on #142
look at the rights of the folder and don't forget to put the full path of the file location

[2020-02-01 12:30] Vmadmax commented on #142
Huh, that was fast! Thanks.

The cookie is saved correct in the cookie file

[code]
But in the second request

[code]

It isn't working. The login page appears. It's not correct?

[2020-02-01 12:39] fullsharez commented on #142
I don't know at all the CURLOPT_COOKIEJAR it is to keep the CURLOPT_COOKIEFILE up to date it is to make the cookie

[2020-02-04 20:02] vb6rocod opened #163 "dont work with 7.3.3 - solution"
I test with different version
with 5.6.39 work without "CURLOPT_SSL_CIPHER_LIST"
with 7.3.1 must add "CURLOPT_SSL_CIPHER_LIST"
with 7.3.3 dont work.
If I add curl_setopt($ch, CURLOPT_SSLVERSION,CURL_SSLVERSION_TLSv1_3) work.
CURL_SSLVERSION_TLSv1_3 is not defined in php < 7, I make this code
if (defined('CURL_SSLVERSION_TLSv1_3'))
 $ssl_version=7;
else
 $ssl_version=0;
and add
curl_setopt($ch, CUR

[2020-02-07 13:17] momala454 opened #164 "Now broken"
Since today, the script is broken because the url on the form is encoded with &xxx;, so the script tries to submit to url containing &amp;

the fix on UAMPageFormParams function on main/Model/UAM/UAMPageFormParams.php

modify like this
return new UAMPageFormParams(
            $sMatches[1],
            $jschlVcMatches[1],
            $passMatches[1],
            self::getJschlAnswerFromPage($pageA

[2020-02-09 19:01] gergokee commented on #164
Well for me it is still not working with this change:

Tried reaching this page:
https://predb.me/?search=720p

"[ERROR] UAM (retry: 0) -> clearance cookie missing! Unknown error -> CF clearance could not be found!"

[2020-02-16 02:27] nitemare opened #166 "Class 'SimpleJavaScriptCompilation\Model\Context' not found in ../libraries/CloudflareBypass/Model/UAM/UAMPageFormParams.php:57"
Getting the below error when i follow the example, what am i missing?

`[INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params...
Fatal error: Uncaught Error: Class 'SimpleJavaScriptCompilation\Model\Context' not found in /home/nitemare/public_html/libraries/CloudflareBypass/Model/UAM/UAMPageFormParams.php:57 Stack trace: #0 /home/nitemare/public_html/librarie

[2020-02-16 03:15] nitemare commented on #166
other packages or required, this isn't explained as clearly as it should be, installing with the composer installs the packages

[2020-02-16 03:15] #166 closed

[2020-02-16 03:43] nitemare commented on #160
I'm getting the same issue, trying to access the site: http://torrentz2.is
It just returns the cloudflare page
just update to PHP v7.3.14 (was having the issue on 7.1 too)

[2020-03-12 10:33] judgdredd commented on #164
Yeah it's definitely NOT working. I've tested it on http://medium.com https://torrentz2.eu and various others. My script that was working for over 7 months just stopped working recently due to the bypasser not solving the cloudflare problem and instead returns the usual

`          setTimeout(function(){\n
            var s,t,o,p,b,r,e,a,k,i,n,g,f, CNVCtJR={"USHdsl":+((!+[]+!![]+!![]+!![]+!![]+!![

[2020-03-12 19:53] momala454 commented on #164
i tried both url http://medium.com https://torrentz2.eu  and they works.
Make sure you put all of those headers (with different values if you want, but they must be present)
'Connection: Keep-Alive', 'Accept-Language: *',
'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:54.0) Gecko/20100101 Firefox/54.0', 'Accept: */*',
'Accept-Encoding: deflate, gzip',
'Upgrade-Insecure-Requests: 1'

[2020-03-12 19:57] momala454 commented on #164
actually i'll reopen until another release is done with the change for this bug

[2020-03-13 03:19] judgdredd commented on #164
This is some of the code re: the headers
![Screenshot from 2020-03-13 14-14-53](https://user-images.githubusercontent.com/4535325/76586503-2106fe80-6535-11ea-9f7d-74843e1f32b7.png)
And this is the result
![Screenshot from 2020-03-13 14-16-16](https://user-images.githubusercontent.com/4535325/76586629-8529c280-6535-11ea-816c-80370ccb70e8.png)

[2020-03-13 03:39] judgdredd commented on #164
This might be a bit messy but the below is the dump output in a terminal of https://torrentz2.eu using your CFCurlTest.php file directly.

`"""
<!DOCTYPE HTML>\n
<html lang="en-US">\n
<head>\n
  <meta charset="UTF-8" />\n
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />\n
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />\n
  <meta name="robots" content="noin

[2020-03-13 05:24] judgdredd commented on #164
Okay.. So it's important to note i've been using the version pulled and updated from composer require kyranrana/cloudflare-bypass

That being said i did the patch tweaks above to no avail.

I just downloaded the zip file directly from here and unpacked it in the vendor dir and now everything is working. So what is obtained via composer and what fixed are provided here don't work. I'd say update th

[2020-03-13 14:00] momala454 commented on #164
yeah i don't get why he don't make a new release

[2020-03-13 22:07] wynasoft1 opened #167 "blank page"
Hi guys i just install composer restart apache check folder permissions and so on, but when i try example php nothing happens just blank page any tips please?

no apache error logs no any errors in explorer

thanks

regards

[2020-03-13 22:24] wynasoft1 commented on #167
I just replace src but now getting this error. :(

[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params... [INFO] UAM (retry: 0) -> (r param: 5f56e25cc5d2f3f4cd4db4b7cf5cfea044a21011-1584138079-0-AUVGueXm/X+2CqTnxyl2vGRfb0tq6IDaU/RLS2p70uE//t8GwfmmRq/jM3msIZyjRKWTh3qT3/9x/sV8478SRhSxwm1gkBAtZ8ZqyRKD6/ZWJH/i2V2

[2020-03-13 22:35] #167 closed

[2020-03-13 23:39] wynasoft1 commented on #164
Hi guys can anybody share a demo for get contents?

thanks

regards

[2020-03-13 23:47] nitemare commented on #158
Getting a '[ERROR] UAM (retry: 0) -> clearance cookie missing! Unknown error -> CF clearance could not be found!' Error, an its just returning the cloudflare page.

does anyone know what causes this? why is the cookie missing?

`URL:https://torrentz2.is/
[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params...

[2020-03-14 23:40] jaymoulin commented on #164
@momala454 I'm pretty sure maintaining this kind of product is really time consuming and Kyran prefer spending time on other things. I already gave him some recommendations for this package to be more usable here : https://github.com/KyranRana/cloudflare-bypass/issues/157

As I am, and many other users are, stuck with this package release process, I published a fork https://github.com/jaymoulin/cl

[2020-03-15 12:43] gergokee commented on #164
Well i tried it again, but still can't access https://torrentz2.eu
Tried from 2 different servers:
 - first server error: **"clearance cookie missing! Unknown error -> CF clearance could not be found!"**
 - second server error: **"[ERROR] Captcha (retry: 1) -> not supported! Unknown error -> Captcha page is not supported!"**

[2020-03-15 19:01] nitemare commented on #164
i'm getting the same errors for https://torrentz2.eu and https://torrentz2.is

[2020-03-20 14:11] momala454 opened #168 "broken again"
this is the code received

[code]

i don't think you handle the embedded functions, and "undefined"

[2020-03-20 15:10] momala454 commented on #168
this is what happens with that
Uncaught ErrorException: CF clearance could not be found!

[2020-03-23 22:22] nitemare commented on #158
does anybody know how to correct this error? other people are saying the sites (like 'https://torrentz2.is/') work, but this error is the best i can get.

`[ERROR] UAM (retry: 0) -> clearance cookie missing! Unknown error -> CF clearance could not be found!`

[2020-03-24 20:15] #138 closed

[2020-03-24 20:15] #140 closed

[2020-03-24 20:15] #141 closed

[2020-03-24 20:15] #143 closed

[2020-03-24 20:15] #146 closed

[2020-03-24 20:15] #150 closed

[2020-03-24 20:15] #151 closed

[2020-03-24 20:15] #152 closed

[2020-03-24 20:15] #153 closed

[2020-03-24 20:15] #154 closed

[2020-03-24 20:15] #155 closed

[2020-03-24 20:15] #156 closed

[2020-03-24 20:15] #158 closed

[2020-03-24 20:15] #159 closed

[2020-03-24 20:15] #160 closed

[2020-03-24 20:15] #161 closed

[2020-03-24 20:15] #164 closed

[2020-03-24 20:15] #168 closed

[2020-03-24 20:19] momala454 commented on #158
i don't see how the commit make any fix to the different closed issues  ...

[2020-03-24 22:03] nitemare opened #180 "'[ERROR] Captcha (retry: 1) -> not supported! Unknown error -> Captcha page is not supported!' or ' [ERROR] UAM (retry: 0) -> clearance cookie missing!'"
I'm still getting errors that have been reported in issues that were closed. I am using the latest commit available. I have installed with composer, as well as downloaded the zip and copied the files over the composer-version files.

**Issue**
Depending only on the HTTP Headers used, I am getting one of 2 errors, and I cannot successfully retrieve the site. Those errors are:
[code]
or
[code]
See b

[2020-03-25 01:29] jaymoulin commented on #180
You're using a deprecated version of `cloudflare-bypass` as you're using an old deprecated version (3.3.0). As @KyranRana is currently not using a stable tag release process (cf #157 ), the only possible way for you to use the actual latest with composer is to depend on `jaymoulin/cloudflare-bypass` instead of `kyranrana/cloudflare-bypass`. Another possible way is to download the actual master bra

[2020-03-25 01:40] nitemare commented on #180
If you read my post, i twice stated that i downloaded the zip, and overwrote the files with the newer one, i have the same files that are found by clicking 'Download Zip' under 'Clone or Download' on this page:
https://github.com/KyranRana/cloudflare-bypass

Further, i get the same results using jaymoulin/cloudflare-bypass
<details>
<pre>
I have installed with composer, as well as downloaded the z

[2020-03-25 01:52] jaymoulin commented on #180
I read your post. I suggested this because your version indicates `3.3.0` which is not the latest version.

You can see here https://github.com/KyranRana/cloudflare-bypass/runs/531659676, here https://github.com/KyranRana/cloudflare-bypass/suites/544653472/artifacts/3335930, and here https://github.com/KyranRana/cloudflare-bypass/blob/master/src/test/FunctionalTest.php#L30 that the actual version

[2020-03-25 02:09] momala454 commented on #180
try to reorder the headers, you have
[code]

do
[code]

[2020-03-25 02:19] nitemare commented on #180
I'm not trying to give you attitude, but i am understandably frustrated that i have manually copied all files from the zip file, and installed them in the vendor folder, making it the latest version, and yet you tell me its not? and don't tell me where a newer version would be, i don't see how i could have an 'old deprecated version'

I also have the same issues with using jaymoulin/cloudflare-byp

[2020-03-25 02:39] momala454 commented on #180
test using the code from https://github.com/KyranRana/cloudflare-bypass/blob/master/src/test/FunctionalTest.php#L30

[2020-03-25 02:48] nitemare commented on #180
I've copied and pasted it, and used the below as the final code
[code]

[2020-03-25 11:01] momala454 commented on #180
if you have a captcha it means your ip is blacklisted

[2020-03-25 19:49] KyranRana commented on #180
Sorry guys
I am going to tag the most recent commit of this project version 3.4.0.
Big thanks to @jaymoulin

[2020-03-25 20:03] KyranRana commented on #162
Try with version 3.4.0 ?

[2020-03-25 20:53] momala454 commented on #162
- kyranrana/cloudflare-bypass dev-master requires php ^7.2 -> your PHP version (7.0.33) does not satisfy that requirement.
    - kyranrana/cloudflare-bypass dev-master requires php ^7.2 -> your PHP version (7.0.33) does not satisfy that requirement.

i don't think there is any reason to already drop php 7.0 support, i'm using a debian version that is still supported and which have php7.0

[2020-03-26 20:35] zineedine2010 opened #181 "Unknown error -> --> [Captcha] ERROR. captcha page found. No implementation exists for this yet!"
Hey,

I have already used cloudflare-bypass some months ago without any problem. Recently, I was scrapping a website with file get html and suddenly it started giving me an empty html result. I tried it on localhost and it worked perfectly but not on real server as I think maybe my ip is blackslisted or something else. I tried to use curl and it gave me a cloudflare challenge page, so I thought i

[2020-03-28 01:31] alloweb34 opened #182 "[pity no help on this] How to correctly install the project"
Hello,
I cannot install the project correctly.
I tried
`composer require kyranrana/cloudflare-bypass`
as well
`git clone https://github.com/KyranRana/cloudflare-bypass.git && cd cloudflare-bypass && composer install --dev`

But the following message:
[code]

Is there a way to upload all the necessary files or the command to execute to recover all the files necessary for execution.

Thank you in ad

[2020-03-28 12:55] ChadwickV16 opened #183 "Fatal Error"
Fatal error: Uncaught Error: Class 'CloudflareBypass\CFCurlImpl' not found in /var/www/vhosts/bugraozkan.com.tr/test/cloudflare/index.php:44 Stack trace: #0 {main} thrown in /var/www/vhosts/bugraozkan.com.tr/test/cloudflare/index.php on line 44

[2020-03-29 13:01] SuperFabioHackered opened #184 "Unknown error"
[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params ... [INFO] UAM (retry: 0) -> (r param: kukrc45bvAgVwTdCKhxl761qbXP + YIS6YxHQkeUTa8) [INFO] UAM (retry: 0) -> (jschl_vc param: 19ca3d42f2daedc2cbf35c334da7fbbe) [INFO] UAM (retry: 67) - 0am = 15 > (jschl_answer param: 14.4532940220) [INFO] Array ([0] => # Ht

[2020-03-29 19:01] zineedine2010 commented on #181
NB : I have already tried using jaymoulin dev-master cloudflare-bypass.

[2020-03-30 18:53] KyranRana commented on #181
Which website?

[2020-03-30 18:56] zineedine2010 commented on #181
Hey, the website is : https://wwv.voirfilms.media

[2020-03-30 21:35] KyranRana commented on #181
Thank you.

[2020-03-30 21:38] zineedine2010 commented on #181
Thanks to you. Hope there is a solution for that.

[2020-04-10 21:31] unblocked-is opened #185 "Doesnt seem to be working?"
[code]

[2020-04-11 11:10] swdlo9 opened #186 "cloudflare"
Hi , i donw know how to use this script for bypass cloudflare UAM , please you can tald me how i can use this code with just a script?

[2020-04-13 12:39] baca130 opened #187 "Not working"
[2020-04-13 14:29:21][INFO] -> VERBOSE: ON [2020-04-13 14:29:21][INFO] -> CFCurl 1. handle checked and validated as protected. [2020-04-13 14:29:21][INFO] -> CFCurl 2. got cloudflare handle. [2020-04-13 14:29:21][INFO] -> CFCurl 3.1. (try: 0 first_attempt: 1) uam page requested with new cURL handle. request headers: GET /?pg=1 HTTP/2 Host: www.***.com User-Agent: Mozilla/5.0 (Macintosh; Intel Mac

[2020-04-13 15:02] fullsharez commented on #187
yes i even worry it doesn't work anymore

[2020-04-13 17:47] KyranRana commented on #187
it doesn't v4 is coming soon :)

Readme has updated and will update again when v4 is ready for beta test. If you want to be added to alpha testing, let me know and I will see if I can add you guys in.

[2020-04-14 13:07] baca130 commented on #187
I can be a tester.

[2020-04-15 22:33] KyranRana commented on #182
Hi dude. I am sorry about this, I am working on a new version of this project which is coming soon. Probably will be in beta testing in about 1.5 weeks time. It's in alpha testing at the moment I will be looking to add certain collaborators to alpha testing in a few days time. So if you want to be part of alpha testing let me know.

[2020-04-15 22:34] KyranRana commented on #186
I am working on a new version of this script. This script will be out for beta testing soon.
If you want to be added to alpha testing let me know, but for now you will have to wait again.

[2020-04-15 22:35] KyranRana commented on #181
This site will be fixed in v4. If you want to be added to alpha testing for v4 let me know. :)

[2020-04-16 11:06] zineedine2010 commented on #181
Oh great. I would love to. How to get added to alpha testing? Thanks.

[2020-04-16 12:47] sedklo commented on #186
Yes i want to be added to alpha testing, but it would be possible to have a script for UAM bypass? example:
node UAM.js http://example.com 100
or
node UAM.js http://example.com proxies.txt 100

please i hope you can understand me, because I have a cloudflare UAM website and I want to test my website, thanks

[2020-04-21 21:35] ArabCoders commented on #187
@KyranRana can be a tester if you need extra hands

[2020-04-22 00:37] frdc commented on #187
I would like to participate in alpha test aswell

[2020-04-22 06:55] MS-BSI commented on #187
Hi @KyranRana,

If it's still possible I'm interested in participating in the alpha/beta test(s) of the next major version !
I have been using your script since it existed.

Thank you.

[2020-04-22 08:14] kacperkwapisz opened #188 "Call to a member function getDataType() on null"
So yesterday the script worked but now it's showing this issue, I tried to somehow fix it but without looking into your code. I really need help because I'm a owner of a big site with big traffic & this issue is so disturbing my users.
[code]
I'm using PHP version 7.3 btw.

[2020-04-22 11:21] neverknoww commented on #188
same here.!

[2020-04-23 20:35] ryosensei commented on #188
Same here too :)

[2020-04-24 10:35] momala454 commented on #187
as the script doesn't work anymore at all i think everybody will be interested for a new version

[2020-04-24 14:32] zikju commented on #187
Hi @KyranRana, I want to participate in alpha testing, can you add me in?

[2020-04-24 17:13] momala454 commented on #188
yeah, i would like some beta test ;)

[2020-04-26 22:52] bcashier commented on #188
solved or not please ?

[2020-04-26 23:07] ArabCoders commented on #187
@KyranRana by using puppeteer i am able to access sites behind cf, however extracting the cookies from it and passing it to the PHP script the request still fails. here what i have so far.

[code]

[code]
any guidance would be appreciated.

[2020-05-02 10:42] khanhpkvn opened #189 "Why do you public this repo?"
Hi Kyran,

I think you shouldn't public this repo, because Cloudflare will know what the way you are using to bypass them. And then they're will be fix that. You need research to bypass them again. This is not intelligent. If you have a way to bypass Cloudflare, and you confident can be bypass Cloudflare when they are fix that in next more time. You should to sell a premium version and encrypt all

[2020-05-02 15:03] bert-w commented on #189
I disagree. The way this library is made will forever result in a unsatisfactory solution. In order to solve a JS challenge, you cant use PHP to try to parse JS haphazardly. You'd have to use PHP's V8Js module or go a whole different route that does not include PHP. That way, you can safely make it open source since there is (mostly) nothing Cloudflare can do to mess it up since the challenge is s

[2020-05-02 16:10] ArabCoders commented on #189
i agree with @bert-w i already moved to use puppeteer to grab the clearance token and pass that to the PHP app. no more trging to keep up with cf changing their code daily.

[2020-05-02 18:02] vvpgrp commented on #188
Some code changes that allow you to generate an answer that cf considers incorrect:

1. File **UAMPageFormParams.php**
[Line 33](https://github.com/KyranRana/cloudflare-bypass/blob/2addd3cc6aaec22cc8509390a8475b3379b9557a/src/main/Model/UAM/UAMPageFormParams.php#L33):  preg_match('/name="jschl_vc" value="([^"]+)"/', $page, $jschlVcMatches);
**New code**:
`preg_match('/value="(\w+)"\sid="\S+"\sname

[2020-05-02 18:26] kacperkwapisz commented on #188
still got the same error

[2020-05-02 18:28] bcashier commented on #188
@vvpgrp
If we make that changes, we will get a working script ?

Thank you

[2020-05-02 18:59] vvpgrp commented on #188
**No, this is not a full fix!**
**This is only part of the changes to get a working script!**

[2020-05-03 02:28] bcashier commented on #188
@vvpgrp Tried but unfortunately not working.

[2020-05-03 08:11] vvpgrp commented on #188
**I made one more small addition.
Guys, can you check if this fix works for you? For my case it works!**

1. File **UAMPageFormParams.php**
[Line 33](https://github.com/KyranRana/cloudflare-bypass/blob/2addd3cc6aaec22cc8509390a8475b3379b9557a/src/main/Model/UAM/UAMPageFormParams.php#L33):  preg_match('/name="jschl_vc" value="([^"]+)"/', $page, $jschlVcMatches);
**New code**:
`preg_match('/value="(

[2020-05-03 10:15] kacperkwapisz commented on #188
Yep, that fixed the problem. Thanks, @vvpgrp ! Now, @KyranRana could you make an official update with this fix?

[2020-05-03 13:29] zikju commented on #188
@vvpgrp yes, its worked for me. Thank you for a temporarily fix!

[2020-05-03 17:34] bcashier commented on #188
In my case I am getting this error:

`[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params... [INFO] UAM (retry: 0) -> (r param: 9ccfeb5c63e6a1769d2e67bf7578d2fb2ed263c9-1588527245-0-ATAUM2eLV4dtfzTtR+HJUyD5eYWH3hSK1gRreXJXDCaRP5descDP24JowVpYz+eSZx6GPXAt3I/8YJgip6uVUjsMA5IPCDzp3z5Rf8iwh3A8WvACw88DkVsJUmOQTFaQ

[2020-05-03 17:59] vvpgrp commented on #188
@bcashier

**Read carefully: _Captcha page is not supported!_**

[2020-05-05 11:58] devoided commented on #188
Seems to not be working again?

[code]

[2020-05-05 13:25] vvpgrp commented on #188
Doesn't work or only seems to not be working again?😊
Please publish a link to the site to check working!

[2020-05-06 10:15] kacperkwapisz commented on #188
@vvpgrp not working again sadly

[2020-05-08 20:35] impozzible commented on #187
@ArabCoders How do you do that with puppeteer

[2020-05-08 20:49] ArabCoders commented on #187
by visiting the site that is gated by cf then extracting the token and passing that to the php app to use.

[2020-05-13 14:48] ChadwickV16 commented on #188
[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params...
Notice: Undefined offset: 1 in C:\xampp\htdocs\vendor\kyranrana\cloudflare-bypass\src\main\Model\UAM\UAMPageFormParams.php on line 39

Notice: Undefined offset: 1 in C:\xampp\htdocs\vendor\kyranrana\cloudflare-bypass\src\main\Model\UAM\UAMPageChallengeCod

[2020-05-14 13:32] neverknoww commented on #188
Hi vvpgrp, just stopped working now.

[2020-05-16 17:44] SuperFabioHackered opened #190 "UAMPageFormParams Error"
[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params...
Notice: Undefined offset: 1 in /home/fabiocas/allstreaming.xyz/cloudflare-bypass/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormParams.php on line 39

Notice: Undefined offset: 1 in /home/fabiocas/allstreaming.xyz/cloudflare-bypass/vendo

[2020-05-16 17:46] #190 closed

[2020-05-16 18:04] SuperFabioHackered opened #191 "Argument 2 passed to CloudflareBypass\Model\UAM\UAMPageFormParams::__construct() must be of the type string, null given, called"
[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params...
Notice: Undefined offset: 1 in /home/fabiocas/allstreaming.xyz/cloudflare-bypass/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormParams.php on line 39

Fatal error: Uncaught TypeError: Argument 2 passed to CloudflareBypass\Model\UAM\UAMPa

[2020-05-20 09:48] taftaf2007 opened #192 "The requested package kyranrana/cloudflare-bypass master is satisfiable by kyranrana/cloudflare-bypass[dev-master] but these conflict with your requirements or minimum-stability."
**Description**
When I run this command :composer require --ignore-platform-reqs kyranrana/cloudflare-bypass:master
I got this message :The requested package kyranrana/cloudflare-bypass master is satisfiable by kyranrana/cloudflare-bypass[dev-master] but these conflict with your requirements or minimum-stability.

**Steps to reproduce the issue:**
1.
1.
1.

**Describe the results you received:**

[2020-05-20 10:11] taftaf2007 commented on #124
Hi, it's still working with you guys ? because I tried to install the code but always have a problems

[2020-05-20 12:55] #157 closed

[2020-05-22 11:30] samtax01 opened #193 "Not working"
I tested it now and it's now working.

[2020-05-22 15:32] onemans-battle commented on #189
Thank you for telling me we can use puppeteer to bypass. I have also moved to use it. Only used a few lines of code to bypass

But overall I really appreciate this library

[2020-05-22 15:35] nitemare commented on #189
How do you accomplish this? Can you provide any example to get started?

On Fri, May 22, 2020 at 12:32 PM onemans-battle <notifications@github.com>
wrote:

--
Scott L

[2020-05-22 18:59] vvpgrp commented on #193
Tried this [fix](https://github.com/KyranRana/cloudflare-bypass/issues/188#issuecomment-623072588)?

[2020-05-23 04:31] onemans-battle commented on #189
@nitemare
I modified based on this code, you can also refer to
https://github.com/KevCui/cf-cookie/blob/master/getCFcookie.js

[2020-05-23 05:53] samtax01 commented on #193
No, It does not. 😭

[2020-05-23 06:56] vvpgrp commented on #193
1. Describe the results you received:
...
2. Describe the results you expected:
...
3. Additional information you deem important (e.g. issue happens only occasionally):
...
4. Provide some logs
...

[2020-05-23 07:17] samtax01 commented on #193
Thanks for your quick and prompt response.

**The first request to https://www.thenetnaija.com/videos/movies**
`[INFO] UAM (retry: 0) -> applying HTTPS settings
[INFO] UAM (retry: 0) -> waiting for 5 seconds!
[INFO] UAM (retry: 0) -> getting form params...
[INFO] UAM (retry: 0) -> (r param: a19e2f449491535788fb2b93f74aa4fdfefeee44-1590217544-0-ARICtv/uo2oMD0tQdA7+oyMWEEHeqMqoFVlq0zEOGy5s+YNsOD8aKy

[2020-05-25 04:22] vvpgrp opened #194 "Fix2020-05-24"
**Guys, can you check if this fix works for you? For my case it works!**
** **

1. File **UAMPageFormParams.php**
[Line 33](https://github.com/KyranRana/cloudflare-bypass/blob/2addd3cc6aaec22cc8509390a8475b3379b9557a/src/main/Model/UAM/UAMPageFormParams.php#L33):  preg_match('/name="jschl_vc" value="([^"]+)"/', $page, $jschlVcMatches);
**New code**:
`preg_match('/value="(\w+)"\sid="\S+"\sname="jsc

[2020-05-25 04:24] vvpgrp commented on #193
Try this [fix](https://github.com/KyranRana/cloudflare-bypass/issues/194#issue-624035163)!

[2020-05-25 04:26] vvpgrp commented on #188
Try this [fix](https://github.com/KyranRana/cloudflare-bypass/issues/194#issue-624035163)!

[2020-05-25 08:20] kacperkwapisz commented on #194
One more quick edit to the code:
File **UAMPageFormParams.php**
Line [21](https://github.com/KyranRana/cloudflare-bypass/blob/2addd3cc6aaec22cc8509390a8475b3379b9557a/src/main/Model/UAM/UAMPageFormParams.php#L21): `public static function getSnippetsFromPage(string $page): UAMPageChallengeCode`
**New code:**
`public static function getSnippetsFromPage(string $page, $host): UAMPageChallengeCode`

[2020-05-25 09:18] vvpgrp commented on #194
Thank you!
I have added the line:
File **[UAMPageChallengeCode.php](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/Model/UAM/UAMPageChallengeCode.php)**
Replace line [#21](https://github.com/KyranRana/cloudflare-bypass/blob/2addd3cc6aaec22cc8509390a8475b3379b9557a/src/main/Model/UAM/UAMPageChallengeCode.php#L21): `public static function getSnippetsFromPage(string $page): UAMPa

[2020-05-25 09:30] neverknoww commented on #194
Hi vvpgrp,

It is not working for my case.

Fatal error: Uncaught Error: Call to a member function getDataType() on null in /Users/jackdaniel/Desktop/php/cloudflare-bypass-master/v3.3/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPageFormParams.php:68
Stack trace:
#0 /Users/jackdaniel/Desktop/php/cloudflare-bypass-master/v3.3/vendor/kyranrana/cloudflare-bypass/src/main/Model/UAM/UAMPage

[2020-05-25 09:37] neverknoww commented on #194
It is working now. 100%

Thanks for your effort

[2020-05-25 12:16] gnika commented on #194
Hie,

![image](https://user-images.githubusercontent.com/24828537/82811856-fec52180-9e91-11ea-83c7-383764a42d7b.png)

for me, after the fixes, i can only see the page cloudflare :(

[2020-05-25 15:49] samtax01 commented on #193
I tried it but to no avail.

[2020-05-25 16:10] vvpgrp commented on #193
@samtax01
My antivirus detected HTML/ScrInject.B trojan in the data from the site [https://www.thenetnaija.com/videos/movies](https://www.thenetnaija.com/videos/movies)
Try to access another site!

[2020-05-25 16:38] gnika commented on #194
i could be more precise 👍

I do THIS - exactly like the exemple
[code]

AND

i have this

[INFO] UAM (retry: 0) -> waiting for 6 seconds!
[INFO] UAM (retry: 0) -> getting form params...

   ErrorException  : Undefined offset: 0

  at \vendor\kyranrana\cloudflare-bypass\src\main\Model\UAM\UAMPageChallengeCode.php:44
    40|     {
    41|         $code = substr($page, strpos($page, 'setTimeout(funct

[2020-05-25 16:51] zineedine2010 commented on #181
Hey KyranRana. Hope you're fine. any news about the alpha testing?

[2020-05-25 17:58] vvpgrp commented on #194
File [UAMPageChallengeCode.php](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/Model/UAM/UAMPageChallengeCode.php)
Try to replace the line: `preg_match("/},(\s|)\d+\);/", $code, $matches);`
with the line: `preg_match("/}\s*,(\s*|)\d+\s*\)\s*\s*/", $code, $matches);`

[2020-05-25 20:07] gnika commented on #194
sorry nop :(

`$code = substr($page, strpos($page, 'setTimeout(function(){') + 22);
        $code = trim(substr($code, 0, strpos($code, "}, 4000);")));
        preg_match("/}\s*,(\s*|)\d+\s*\)\s*/", $code, $matches);
        $code = trim(substr($code, 0, strpos($code, $matches[0])));
        //$code = str_replace("var s,t,o,p,b,r,e,a,k,i,n,g,f, ", "", $code);
        $code = str_replace("var s,t,o

[2020-05-25 20:44] vvpgrp commented on #194
@gnika,
You have the wrong code. For example:
![изображение](https://user-images.githubusercontent.com/2395480/82842037-d31d5800-9ee0-11ea-8cea-0d89b917cae8.png)

[2020-05-25 21:09] gnika commented on #194
YOU sir, are the real mvp !!!  and what a quick answer !!!

It's working for the url

$url = "http://www.mangago.me";

but still have an error for this one

$url = "https://www.voirseries.com/series.html"; ( and that's the one i would really like to have ^^ )

![image](https://user-images.githubusercontent.com/24828537/82843205-b4b55d80-9edc-11ea-9874-17cdca71abab.png)

any idea ? i take everythin

[2020-05-25 22:53] zineedine2010 commented on #194
Hey,

Thanks for the issue created. I have been trying all day long to make it work for :

https://wvw.papstream.cc

with applying a _**str_get_html**_ on the following function :

[code]

I've already made the changes you suggested on this fix.

It finally worked on xampp but when live on server it gave me an endless :

[code]

I am open for every idea. Your help would be much appreciated. Thanks

[2020-05-26 09:08] vvpgrp commented on #194
@gnika,
The site [https://www.voirseries.com/series.html](https://www.voirseries.com/series.html) uses captcha.
Unfortunately, the library does not support captcha: see the file [CFCurlImpl.php](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/CFCurlImpl.php), lines [#104](https://github.com/KyranRana/cloudflare-bypass/blob/2addd3cc6aaec22cc8509390a8475b3379b9557a/src/main/CFCur

[2020-05-26 09:09] gnika commented on #194
ok then, thank you, it's sad but okay :)

still beautiful work :)

[2020-05-26 09:25] vvpgrp commented on #194
@zineedine2010,
Try to comment the lines of code as indicated in the attached image:
![изображение](https://user-images.githubusercontent.com/2395480/82883854-ab170e80-9f4b-11ea-80d1-5748dd389221.png)

[2020-05-26 10:44] zineedine2010 commented on #194
Hey, thanks for the reply.

I tried that and it gave me the following error :

`[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params...
Fatal error: Uncaught TypeError: Argument 1 passed to SimpleJavaScriptCompilation\DeclarationInterpreterImpl::interpretDeclarations() must be of the type string, null given, c

[2020-05-26 12:17] vvpgrp commented on #194
@zineedine2010

**According to data from trace:**
1. **$codeSnippets->getChallengeCode()** value is **NULL**: file [UAMPageFormParams.php](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/Model/UAM/UAMPageFormParams.php), the row [#66](https://github.com/KyranRana/cloudflare-bypass/blob/2addd3cc6aaec22cc8509390a8475b3379b9557a/src/main/Model/UAM/UAMPageFormParams.php#L66): `$ctx

[2020-05-26 14:25] zineedine2010 commented on #194
Hey,

I just checked. I have all the corrections done correctly except this one :
`preg_match("/},(\s|)\d+\);/", $code, $matches);`

Here are my files  :

[UAM.zip](https://github.com/KyranRana/cloudflare-bypass/files/4682858/UAM.zip)

I retried after that and I had this error :
`[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0)

[2020-05-26 18:01] samtax01 commented on #193
Thanks for your assistance. But it doesn't work for https://predb.me/?search=720p either.

[2020-05-26 18:07] samtax01 commented on #193
@KyranRana may I please suggest the update here #194 be merged with the master branch. One might make a mistake while updating files individually. @vvpgrp I do appreciate any other suggestion to bypass this cloudflare.

[2020-05-26 18:19] vvpgrp commented on #194
@zineedine2010
Try this:
File [UAMPageChallengeCode.php](https://github.com/KyranRana/cloudflare-bypass/blob/master/src/main/Model/UAM/UAMPageChallengeCode.php)
1. Delete the line [#49](https://github.com/KyranRana/cloudflare-bypass/blob/2addd3cc6aaec22cc8509390a8475b3379b9557a/src/main/Model/UAM/UAMPageChallengeCode.php#L49): `$code = str_replace(["f.action += location.hash;", "f.submit()"], "",

[2020-05-26 18:33] zineedine2010 commented on #194
Hey,

I changed that and it gave me the following answer :

`[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params... [INFO] UAM (retry: 0) -> (r param: 286b57db610c805a372b2dfdd5b7ff2e42c64a56-1590517849-0-ATcY9lTA+vcEsA396EiyOsTdxnx+WgJ49l+imt5V92uDle20DHx7FMHHKc5kRD5RyIK1X42v1cw0K+k0iNOibvgpIT8BQvrw/MjFtzJFv

[2020-05-26 20:07] vvpgrp commented on #194
@zineedine2010
Try todo:
1. Delete browser cookies for https://wvw.papstream.cc and papstream.cc
2. Uncomment the lines:
[code]
in your [function scrapecld($url)](https://github.com/KyranRana/cloudflare-bypass/issues/194#issuecomment-633913736)

Everything works fine for me!

[2020-05-26 20:19] zineedine2010 commented on #194
Hey,

Why clear cache for the website? I am working on a vps. Nonetheless, i cleared it. I uncommented the cookie part and retried. It gives me the following error :

`[INFO] UAM (retry: 0) -> applying HTTPS settings [INFO] UAM (retry: 0) -> waiting for 5 seconds! [INFO] UAM (retry: 0) -> getting form params... [INFO] UAM (retry: 0) -> (r param: 3acfc450297b21fe4ba08b140122f5032a3bb249-1590524172-

[2020-05-26 20:22] zineedine2010 commented on #194
Also, here is my cookies.txt file content :

`# Netscape HTTP Cookie File
# https://curl.haxx.se/docs/http-cookies.html
# This file was generated by libcurl! Edit at your own risk.

#HttpOnly_.papstream.cc	TRUE	/	TRUE	1593035064	__cfduid	d61ee83386999ab5eca9233ac18ddfe6c1590443064
`

[2020-05-27 06:37] neverknoww commented on #194
Hi vvpgrp,

Any chance you can share your edited php files (working version) to us?

Thanks

[2020-05-27 13:05] zineedine2010 commented on #194
Any help vvpgrp? Thanks.

[2020-05-28 12:13] momala454 commented on #194
they have added obfuscated reading of other elements from the page

`<div style="display:none;visibility:hidden;"><div id="USJPIUrkhQ4">+((!+[]+(!![])+!![]+!![]+!![]+!![]+!![]+!![]+!![]+[])+(!+[]+(!![])+!![]+!........`

`<div id="USJPIUrkhQ6">+((!+[]+(!![])+!![]+!![]+!![]+!![]+!![]+[])+(!+[]+(!![])+!![]+!![]+!![]+!![]+!![]+!![]+!![])+(!+[]+(!![])+!!.....`

`vnQ..Hk.CQ..QDjI*=function(p){var p = ev

[2020-05-28 19:08] vvpgrp commented on #194
@neverknoww, @momala454, @gnika,
@kacperkwapisz, @zineedine2010,

edited PHP files [here](https://github.com/KyranRana/cloudflare-bypass/files/4697660/src.zip)

[2020-05-28 19:52] zineedine2010 commented on #194
Hey,

I uploaded the files and it changed the log i receive into this one :

`[INFO] UAM (retry: 0) -> waiting for 5 seconds!
[INFO] UAM (retry: 0) -> getting form params...
[INFO] UAM (retry: 0) -> (r param: 2a4dfd3fcaca3166f42317f82bbffdebffdac686-1590694586-0-AfA6FDZ0ry1M7oI+n3bIPxUuC4hi/XURPZJFGxx8Ohfnco7TRrkVenyWQvNBhWqhica6YhuBOTCuGauAvYrV5Jt7wJX5zBj/TEULP+qt0tZxyNMIssmkZUpsN+iVJq5sAMFKV2x6k

[2020-05-28 20:19] vvpgrp commented on #194
[ERROR] Captcha (retry: 1) -> not supported! Unknown error -> Captcha page is not supported`

The library generates the correct answers, CF requests a captcha.
**The library does not support the captcha.**

[2020-05-28 20:44] neverknoww commented on #194
hello vvpgrp,

Replaced my files with yours. It is working perfectly.

THANKS a lot.

[2020-05-28 21:07] zineedine2010 commented on #194
Hey, @neverknoww  can i know which website you tried it on? THanks.

[2020-05-28 22:36] zineedine2010 commented on #194
After a updating the files. I tried it on

I am having this message :

`[INFO] UAM (retry: 0) -> applying HTTPS settings
[INFO] UAM (retry: 0) -> waiting for 5 seconds!
[INFO] UAM (retry: 0) -> getting form params...
[INFO] UAM (retry: 0) -> (r param: dd27cf35a301c6737da9bc990825e491cf4e3733-1590705297-0-AfYxoRqQSG90jRaH1k7VdA3I8YsvL9dp/N9b6q2Aea/yfR+fJU72SamuswdeQSKXiX7ZCK4iAXU04RXaWbAO62hkBWla4q

[2020-05-28 22:42] zineedine2010 commented on #194
The problem is it is working now on localhost with xaamp while giving me this message in my vps. Any clues?

[2020-05-29 06:25] neverknoww commented on #194
clearance cookie missing! Unknown error -> CF clearance could not be found!

it says your cookie is missing. make sure you have the right permission for your cookie to write on. the script need to find the cookie and write it on your server so your script able to read your cookie file in order to work

[2020-05-29 11:12] zineedine2010 commented on #194
@neverknoww  thanks for the reply.

On localhost, it is working and I am able to bypass cloudflare. When i check my cookie file, it's empty. It takes some seconds to load at first time but after that it's pretty fast. there must be some cookie file but not the one specified on my function.

As for live testing, it give me the clearance cookie missing message. The cookie file is updating but i can'

[2020-05-29 12:26] momala454 commented on #194
the script cause an infinite loop CFCurlImpl :
bypassIUAMPage call exec which in case of error call bypassIUAMPage
i noticed the script retried 1325 times before stopping with error Uncaught Error: Call to a member function getDataType()

[2020-05-29 12:29] momala454 opened #195 "infinite loop of retries"
**Description**
the script cause an infinite loop CFCurlImpl :
bypassIUAMPage call exec which in case of error call bypassIUAMPage
i noticed the script retried 1325 times before stopping with error Uncaught Error: Call to a member function getDataType()

**Steps to reproduce the issue:**
1.
1.
1.

**Describe the results you received:**

**Describe the results you expected:**

**Additional informat

[2020-05-29 12:57] #192 closed

[2020-05-29 13:33] vvpgrp commented on #195
@momala454,
File: CFCurlImpl.php from [this](https://github.com/KyranRana/cloudflare-bypass/files/4697660/src.zip) archive
After line: `usleep(max(($uamOptions->getDelay() * 1000000) - ((microtime(true) * 1000000) - $time), 0));`
comment out line: `set_time_limit(30);`
and after 30 seconds (the default value), the script will stop with the message: the maximum execution time has been exceeded 30 s

[2020-05-29 13:45] momala454 commented on #195
that's not a proper fix, i am using this library to run script that run for hours

[2020-05-30 08:52] neverknoww commented on #194
did you upload the files @vvpgrp provided?

[2020-05-30 08:53] neverknoww commented on #194
sorry, no idea. like you said, it is working on your local. it seems to me it is your server problem, not the script. have you check the php version? and what lib or modules have you installed?

[2020-05-30 09:08] taftaf2007 commented on #194
Hi gays, someone here can help me to install this library on my vps ? it's a paid job. contact me please taftafmobile[at]gmail[dot]com

[2020-05-30 09:22] kacperkwapisz commented on #194
It can be a problem with your hosts IP address. If you run on localhost & everything is fine, then it's probably something wrong with the IP address. I'm not sure about that but it might be the problem.

[2020-05-30 13:53] kacperkwapisz commented on #194
yes, it's the fix for it, nice job

[2020-05-30 13:55] zineedine2010 commented on #194
@kacperkwapisz @vvpgrp any ideas how to solve this? Thanks.

[2020-05-30 18:04] vvpgrp commented on #194
@zineedine2010,
**Try to manage cookies in memory without using files:**

[code]

[2020-05-30 19:02] zineedine2010 commented on #194
Hey,

I just tried it. It gave me this message :
`[INFO] UAM (retry: 0) -> applying HTTPS settings
[INFO] UAM (retry: 0) -> waiting for 6 seconds!
[INFO] UAM (retry: 0) -> getting form params...
[INFO] UAM (retry: 0) -> (r param: a325ddfd251e40542a7113d4512512e88be8899a-1590865200-0-AU7dR2xMD0O8o8VSkxM32yvq2+j+pp687g71tzJwYVMZYvcXKVHwggzWDWxMa9CBLCMwJNHaTzB8SzYv972GQcnDM8nUSQhOaqFakyMGAFeJfle79i60

[2020-05-30 21:09] vvpgrp commented on #194
@zineedine2010,
try to comment out the line: `throw new \ErrorException("CF clearance could not be found!");`

[2020-05-30 22:07] zineedine2010 commented on #194
@vvpgrp  I tried it. It just deletes the message and give me the ddos protection html code when i echo the output of my function.

THe problem here is i am not getting the clearance cookie. I am able to access it.

[2020-05-31 07:18] vvpgrp commented on #194
@zineedine2010,
tried to access through a proxy?

[2020-05-31 16:37] zineedine2010 commented on #194
@vvpgrp Hey, i used multiple proxies and either it give me this message :

Unknown error -> Captcha page is not supported!

or nothing.

[2020-05-31 18:22] neverknoww commented on #194
your proxies are blacklisted in cloudflare. this is why it gives you captcha page.

[2020-06-01 08:26] vvpgrp commented on #194
@zineedine2010,
try creating your API server using free domain hosting and use it as a proxy to redirect your requests to other CF sites.

[2020-06-03 06:48] neverknoww commented on #194
Script stopped working again. here is the error code.

[INFO] UAM (retry: 2) -> (jschl_vc param: b587fceb347d60ebed8672986ff90aa8)<br />
[INFO] UAM (retry: 2) -> (pass param: 1591166850.967-ro0BjLWlxg)<br />
[INFO] UAM (retry: 2) -> (jschl_answer param: )<br />
[INFO] UAM (retry: 3) -> waiting for 5 seconds!<br />
[INFO] UAM (retry: 3) -> getting form params...<br />
[INFO] UAM (retry: 3) -> (r pa

[2020-06-03 11:13] vvpgrp commented on #194
@neverknoww,
**What site are you trying to get data from?**

[2020-06-03 12:26] neverknoww commented on #194
https://wvw.papstream.cc

thanks @vvpgrp

[2020-06-03 17:16] vvpgrp commented on #194
@neverknoww,
The problem is that your IP-address does not receive the cf_clearance cookie. As a result, the page received from CF does not have a setTimeout callback. Try to use a proxy server.

[CF](https://blog.cloudflare.com/cloudflare-supports-privacy-pass/): " ... _Having a valid cookie CF_CLEARANCE is a strong positive signal that the request came from a legitimate person._ ... " 😓

[2020-06-03 17:32] neverknoww commented on #194
Hi @vvpgrp ,

I tried serveral different ips (not proxy but decdicated server) or even a mobile network. It receives the same error.

Is your script still working on your side? This is my first time getting this error.

Thanks

[2020-06-03 18:43] zineedine2010 commented on #194
Same thing for me.

I tried doing it in multiple servers. Before it went with captcha not supported because of the image challenge. Once the admin of papstream changed to cloudflare 5 seconds cloudflare page, it goes on infinite loop. Any help @vvpgrp ? Have you found a solution @neverknoww ?

Thanks.

[2020-06-03 20:38] neverknoww commented on #194
No solution yet. I uploaded the @vvpgrp files and it was working perfectly until today.

so im just hoping @vvpgrp will give us a solution soon. deeply appreciated.

[2020-06-04 17:39] vvpgrp commented on #194
@neverknoww, @zineedine2010,

I finally got an infinite loop like yours.
Conclusion: **CF has a new challenge and I need time to research it.**
**How long - I don't know!**